In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.float_format', lambda x: '%.02f' % x)

In [3]:
def category_fill(df,cat_column_name,category_list,categories_prob_list):
    df[cat_column_name] = np.random.choice(category_list,df.shape[0],p=categories_prob_list) 
    return df


def sub_category_fill(df,cat_column_name,sub_cat_column_name,sub_categories_prob_dict): 
    df_new = pd.DataFrame()
    for key,value in sub_categories_prob_dict.items():
        df1 = df[df[cat_column_name]==key]
        df1= category_fill(df1,sub_cat_column_name,value[0],value[1])
        df_new = pd.concat([df_new,df1],axis=0)  
    return df_new

# PIL_Vintage

In [8]:
df_vintage =pd.DataFrame(columns=['open_mon','mob','final_acq_channel','final_campaign_id','ita_t_c_flag','term_band',
                                  'resp_channel','package','fico_band','STATUS_CD','acct_count',
                                  'auto_deduct','citi_auto_deduct','opening_balance','balance','interest','payment',
                                  'tot_fees','gcl','recoveries','NCL','cof','book_amt','apr_wtd_line','apr_wtd_bal',
                                  'portf_fico','app_fico','durtn'                            
                                     ])
df_vintage

Empty DataFrame
Columns: [open_mon, mob, final_acq_channel, final_campaign_id, ita_t_c_flag, term_band, resp_channel, package, fico_band, STATUS_CD, acct_count, auto_deduct, citi_auto_deduct, opening_balance, balance, interest, payment, tot_fees, gcl, recoveries, NCL, cof, book_amt, apr_wtd_line, apr_wtd_bal, portf_fico, app_fico, durtn]
Index: []

[0 rows x 28 columns]

In [7]:
# idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='M')
# df_fee_curve['RECV_YYMM']=idx
# df_fee_curve['RECV_YYMM']=df_fee_curve['RECV_YYMM'].apply(lambda x: datetime.strptime(str(x)[:-9],'%Y-%m-%d').strftime('%Y%m'))

df_vintage['open_mon'] =['201901']*1000


df_vintage = category_fill(df_vintage,'mob',['0','1','2'],[0.4,0.4,0.2])
df_vintage = category_fill(df_vintage,'final_acq_channel',['No Reln BAU','P2C 1.0','P2D ITA 2018_2020','P2D ITA/Organic'],[0.085,0.009,0.585,0.321])

df_vintage = category_fill(df_vintage,'final_campaign_id',['?','ITA1810','ITA1812'],[0.4,0.06,0.54])


df_vintage = category_fill(df_vintage,'ita_t_c_flag',['?','C','T'],[0.4,0.2,0.4])

df_vintage = category_fill(df_vintage,'term_band',['a. Term 1-12','b. Term 13-24','c. Tem 25-36','d. Term 37-48','e. Term 49-60'],
                           [0.15,0.15,0.25,0.15,0.3])


df_vintage = category_fill(df_vintage,'resp_channel',['BRANCH','ONLINE','TELE-SALE'],[0.4,0.3,0.3])

df_vintage = category_fill(df_vintage,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

df_vintage = category_fill(df_vintage,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

fico_list= ['<710','710-740','740-780','780+']
df_vintage['fico_band'] = np.random.choice(fico_list,df_vintage.shape[0],p=[0.26,0.26,0.22,0.26])

df_vintage['STATUS_CD'] = 'ACT'

df_vintage['acct_count']= np.random.randint(0,368,df_vintage.shape[0])
df_vintage['auto_deduct']= np.random.randint(0,354,df_vintage.shape[0])
df_vintage['citi_auto_deduct']= np.random.randint(0,354,df_vintage.shape[0])

df_vintage['opening_balance']= np.random.uniform(611,5899447,df_vintage.shape[0])

df_vintage['interest']= np.random.uniform(-8.21,52525,df_vintage.shape[0])

df_vintage['payment']= np.random.uniform(0,196866,df_vintage.shape[0])

df_vintage['tot_fees']= np.random.randint(0,25,df_vintage.shape[0])

df_vintage['gcl']= 0

df_vintage['recoveries']= 0

df_vintage['NCL']= 0

df_vintage['cof']= np.random.uniform(-12531,-1.53,df_vintage.shape[0])

df_vintage['book_amt']= np.random.uniform(2000,5956335,df_vintage.shape[0])

df_vintage['apr_wtd_line']= np.random.uniform(27480,65442758,df_vintage.shape[0])

df_vintage['apr_wtd_bal']= np.random.uniform(4732,65139904,df_vintage.shape[0])

df_vintage['portf_fico']= np.random.uniform(0,255948,df_vintage.shape[0])

df_vintage['app_fico']= np.where(df_vintage['fico_band']=='<710', 696,
                                     np.where(df_vintage['fico_band']=='710-740',720,
                                             np.where(df_vintage['fico_band']=='740-780',755,790)))


duration = list(range(12,22080,12))
df_vintage['durtn']= np.random.choice(duration,df_vintage.shape[0])

df_vintage

table_name= 'vintage_summary_'
df_vintage.columns = [table_name+i for i in df_vintage.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_vintage.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_vintage[df_info['column_name'][i]].dtype
    
df_revenue.to_csv('PIL_vintage_summary.csv', index=False)
df_info.to_csv( 'PIL_vintage_summary_data_types.csv',index=False)

,open_mon,mob,final_acq_channel,final_campaign_id,ita_t_c_flag,term_band,resp_channel,package,fico_band,STATUS_CD,...,recoveries,NCL,cof,book_amt,apr_wtd_line,apr_wtd_bal,portfolio,app_fico,durtn,port_fico
0,201901,0,P2D ITA/Organic,ITA1812,?,c. Tem 25-36,ONLINE,CitiBlue,740-780,ACT,...,0,0,-5586.48,5741203.54,10695546.86,43008463.12,NaN,755,9240,110082.90
1,201901,1,P2D ITA 2018_2020,ITA1812,?,e. Term 49-60,BRANCH,Cards,<710,ACT,...,0,0,-4823.36,1409736.35,4164779.05,45676326.92,NaN,696,7692,239266.69
2,201901,2,P2D ITA 2018_2020,ITA1812,?,c. Tem 25-36,ONLINE,CitiGold,710-740,ACT,...,0,0,-4115.00,3617471.46,57395387.37,29284083.08,NaN,720,792,102655.82
3,201901,0,P2D ITA 2018_2020,ITA1812,T,e. Term 49-60,ONLINE,CitiBlue,<710,ACT,...,0,0,-6382.88,2489264.08,29666968.46,34152372.73,NaN,696,21312,98717.69
4,201901,1,P2D ITA 2018_2020,ITA1812,C,c. Tem 25-36,TELE-SALE,CitiBlue,740-780,ACT,...,0,0,-12393.86,1092076.11,31778186.12,49238212.64,NaN,755,21552,8492.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,201901,1,P2D ITA 2018_2020,ITA1812,T,e. Term 49-60,ONLINE,CitiPriority,710-740,ACT,...,0,0,-5013.91,3970024.86,55245790.74,39142069.72,NaN,720,8916,166267.48
996,201901,1,P2D ITA 2018_2020,?,T,d. Term 37-48,TELE-SALE,CitiBlue,710-740,ACT,...,0,0,-7885.80,3755505.66,16532645.75,1583205.12,NaN,720,16464,198511.86
997,201901,0,P2D ITA/Organic,ITA1812,T,c. Tem 25-36,BRANCH,CitiBlue,<710,ACT,...,0,0,-11400.05,4302558.05,63680876.95,31910196.09,NaN,696,1176,140715.64
998,201901,1,P2D ITA 2018_2020,?,T,d. Term 37-48,BRANCH,CitiBlue,<710,ACT,...,0,0,-2528.33,4344972.70,65205973.91,39148220.06,NaN,696,15480,68105.00
999,201901,1,P2D ITA 2018_2020,?,T,e. Term 49-60,BRANCH,CitiBlue,710-740,ACT,...,0,0,-4603.90,904389.22,12335270.06,27828388.36,NaN,720,4788,67789.02

In [ ]:
duration = list(range(12,22080,12))
np.random.choice(duration,5)

# PIL_portfolio

In [9]:
df_portfolio =pd.DataFrame(columns=['mon','final_acq_channel','final_campaign_id','ita_t_c_flag','term_band',
                                  'resp_channel','package','fico_band','STATUS_CD','acct_count',
                                    'new_loans','new_loan_amt',
                                  'auto_deduct','citi_auto_deduct','opening_balance','balance','interest','payment',
                                  'tot_fees','gcl','recoveries','NCL','cof','book_amt','apr_wtd_line','apr_wtd_bal',
                                  'portf_fico','app_fico','durtn'                            
                                     ])
df_portfolio

Empty DataFrame
Columns: [mon, final_acq_channel, final_campaign_id, ita_t_c_flag, term_band, resp_channel, package, fico_band, STATUS_CD, acct_count, new_loans, new_loan_amt, auto_deduct, citi_auto_deduct, opening_balance, balance, interest, payment, tot_fees, gcl, recoveries, NCL, cof, book_amt, apr_wtd_line, apr_wtd_bal, portf_fico, app_fico, durtn]
Index: []

[0 rows x 29 columns]

In [ ]:

df_portfolio['mon'] =['201901']*1000


# df_portfolio = category_fill(df_portfolio,'mob',['0','1','2'],[0.4,0.4,0.2])
df_portfolio = category_fill(df_portfolio,'final_acq_channel',['No Reln BAU','P2C 1.0','P2D ITA 2018_2020','P2D ITA/Organic'],[0.085,0.009,0.585,0.321])

df_portfolio = category_fill(df_portfolio,'final_campaign_id',['?','ITA1810','ITA1812'],[0.4,0.06,0.54])


df_portfolio = category_fill(df_portfolio,'ita_t_c_flag',['?','C','T'],[0.4,0.2,0.4])

df_portfolio = category_fill(df_portfolio,'term_band',['a. Term 1-12','b. Term 13-24','c. Tem 25-36','d. Term 37-48','e. Term 49-60'],
                           [0.15,0.15,0.25,0.15,0.3])


df_portfolio = category_fill(df_portfolio,'resp_channel',['BRANCH','ONLINE','TELE-SALE'],[0.4,0.3,0.3])

df_portfolio = category_fill(df_portfolio,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

df_portfolio = category_fill(df_portfolio,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

fico_list= ['<710','710-740','740-780','780+']
df_portfolio['fico_band'] = np.random.choice(fico_list,df_portfolio.shape[0],p=[0.26,0.26,0.22,0.26])

df_portfolio['STATUS_CD'] = 'ACT'

df_portfolio['acct_count']= [int(i) for i in np.random.randint(0,368,df_portfolio.shape[0])]

df_portfolio['new_loans']= [int(i) for i in np.random.uniform(0,26,df_portfolio.shape[0])]

df_portfolio['new_loan_amt']= np.random.uniform(0,154000,df_portfolio.shape[0])

df_portfolio['auto_deduct']= np.random.randint(0,354,df_portfolio.shape[0])

df_portfolio['citi_auto_deduct']= np.random.randint(0,354,df_portfolio.shape[0])

df_portfolio['opening_balance']= np.random.uniform(611,5899447,df_portfolio.shape[0])

df_portfolio['interest']= np.random.uniform(-8.21,52525,df_portfolio.shape[0])

df_portfolio['payment']= np.random.uniform(0,196866,df_portfolio.shape[0])

df_portfolio['tot_fees']= np.random.randint(0,25,df_portfolio.shape[0])

df_portfolio['gcl']= 0

df_portfolio['recoveries']= 0

df_portfolio['NCL']= 0

df_portfolio['cof']= np.random.uniform(-12531,-1.53,df_portfolio.shape[0])

df_portfolio['book_amt']= np.random.uniform(2000,5956335,df_portfolio.shape[0])

df_portfolio['apr_wtd_line']= np.random.uniform(27480,65442758,df_portfolio.shape[0])

df_portfolio['apr_wtd_bal']= np.random.uniform(4732,65139904,df_portfolio.shape[0])

df_portfolio['portf_fico']= np.random.uniform(0,255948,df_portfolio.shape[0])

df_portfolio['app_fico']= np.where(df_portfolio['fico_band']=='<710', 696,
                                     np.where(df_portfolio['fico_band']=='710-740',720,
                                             np.where(df_portfolio['fico_band']=='740-780',755,790)))


duration = list(range(12,22080,12))
df_portfolio['durtn']= np.random.choice(duration,df_portfolio.shape[0])

df_portfolio

table_name= 'portfolio_summary_'
df_portfolio.columns = [table_name+i for i in df_portfolio.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_portfolio.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_portfolio[df_info['column_name'][i]].dtype
    
df_revenue.to_csv('PIL_portfolio_summary.csv', index=False)
df_info.to_csv( 'PIL_portfolio_summary_data_types.csv',index=False)

# Balcon Tracking

In [6]:
# Balcon Tracking

df_bal_tracking =pd.DataFrame(columns=['product','channel','acq_date','MOB','acq_month','subchannel_source',
                                      'fico_bkt','balcon_ind','balcon_transfer_monthly','accts','avg_FICO','avg_credit_lt'])


df_bal_tracking

Empty DataFrame
Columns: [product, channel, acq_date, MOB, acq_month, subchannel_source, fico_bkt, balcon_ind, balcon_transfer_monthly, accts, avg_FICO, avg_credit_lt]
Index: []

In [7]:
idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='D')
df_bal_tracking['acq_date']=idx
df_bal_tracking['acq_month']=df_bal_tracking['acq_date'].apply(lambda x: datetime.strptime(str(x)[:-9],'%Y-%m-%d').strftime('%y-%b'))


fico_list= ['<710','710-740','740-780','780+']
df_bal_tracking['fico_bkt'] = np.random.choice(fico_list,df_bal_tracking.shape[0],p=[0.26,0.26,0.22,0.26])


df_bal_tracking = category_fill(df_bal_tracking,'subchannel_source',
                                ['App-By-Phone','Citi Affiliates','Citicards.com',
                                'External Affiliates','Paid Media','Paid Search','PS email'],
                                [0.012,0.052,0.324,0.293,0.025,0.192,0.102]).sort_values(by=['acq_date'])

df_bal_tracking['MOB']= np.random.randint(0,30,df_bal_tracking.shape[0])
df_bal_tracking['product'] ='Citi Rewards+'

df_bal_tracking['channel'] = 'Internet'

df_bal_tracking = category_fill(df_bal_tracking,'balcon_ind',
                                ['1','0'],[0.25,0.75]).sort_values(by=['acq_date'])

df_bal_tracking['balcon_transfer_monthly']= np.random.uniform(0,125833,df_bal_tracking.shape[0])
df_bal_tracking['accts']= [int(i) for i in np.random.uniform(0,92,df_bal_tracking.shape[0])]

df_bal_tracking['avg_credit_lt']= np.random.uniform(1000,16800,df_bal_tracking.shape[0])

df_bal_tracking['avg_FICO']= np.where(df_bal_tracking['fico_bkt']=='<710', 696,
                                     np.where(df_bal_tracking['fico_bkt']=='710-740',720,
                                             np.where(df_bal_tracking['fico_bkt']=='740-780',755,790)))


table_name= 'balcon_tracking_'
df_bal_tracking.columns = [table_name+i for i in df_bal_tracking.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_bal_tracking.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_bal_tracking[df_info['column_name'][i]].dtype
    

df_bal_tracking.sample(1000).to_csv('balcon_tracking.csv', index=False)
df_info.to_csv('balcon_tracking_data_types.csv', index=False)

# Balcon Fee Curve

In [11]:

df_fee_curve =pd.DataFrame(columns=['FICO','Balcon_type','RECV_YYMM', 'MOB','dur_resp','fee_charged','transfer_amt',
                                    'promo_bal','flip_amt','pay_amt','fee_amort','acct'
                                     ])
df_fee_curve

Empty DataFrame
Columns: [FICO, Balcon_type, RECV_YYMM, MOB, dur_resp, fee_charged, transfer_amt, promo_bal, flip_amt, pay_amt, fee_amort, acct]
Index: []

In [12]:
idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='D')
df_fee_curve['RECV_YYMM']=idx
df_fee_curve['RECV_YYMM']=df_fee_curve['RECV_YYMM'].apply(lambda x: datetime.strptime(str(x)[:-9],'%Y-%m-%d').strftime('%Y%m'))


fico_list= ['<710','710-740','740-780','780+']
df_fee_curve['FICO'] = np.random.choice(fico_list,df_fee_curve.shape[0],p=[0.26,0.26,0.22,0.26])

df_fee_curve = category_fill(df_fee_curve,'Balcon_type',['ACQ','ECM','RTN'],[0.28,0.6,0.12])

df_fee_curve['MOB']= np.random.randint(0,30,df_fee_curve.shape[0])
df_fee_curve['dur_resp']= np.random.randint(1,37,df_fee_curve.shape[0])

df_fee_curve['MOB']= np.random.randint(0,30,df_fee_curve.shape[0])

df_fee_curve['acct']= [int(i) for i in np.random.uniform(1,30763,df_fee_curve.shape[0])]
df_fee_curve['fee_charged']= np.random.uniform(0,1550029,df_fee_curve.shape[0])
df_fee_curve['transfer_amt']= np.random.uniform(0,41507374,df_fee_curve.shape[0])
df_fee_curve['promo_bal']= np.random.uniform(0,133621875,df_fee_curve.shape[0])
df_fee_curve['flip_amt']= np.random.uniform(0,4298670,df_fee_curve.shape[0])
df_fee_curve['pay_amt']= np.random.uniform(0,9252389,df_fee_curve.shape[0])
df_fee_curve['fee_amort']= np.random.uniform(0,457974,df_fee_curve.shape[0])

table_name= 'balcon_fee_curve_'
df_fee_curve.columns = [table_name+i for i in df_fee_curve.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_fee_curve.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_fee_curve[df_info['column_name'][i]].dtype
    

df_fee_curve.sample(1000).to_csv('df_fee_curve.csv', index=False)
df_info.to_csv('df_fee_curve_data_types.csv', index=False)

,FICO,Balcon_type,RECV_YYMM,MOB,dur_resp,fee_charged,transfer_amt,promo_bal,flip_amt,pay_amt,fee_amort,acct
0,740-780,ECM,201801,1,31,1193766.14,16128997.42,128604878.13,7221.33,3595572.50,82716.03,5008
1,740-780,ECM,201802,8,28,1300837.54,39542113.22,74712895.01,203159.66,1636430.03,19704.53,5811
2,<710,ECM,201802,8,27,1327414.57,5018935.22,119897251.35,441695.07,8634803.78,433049.01,3642
3,740-780,ECM,201802,28,18,1059260.72,39595301.29,17496470.70,2529373.99,3026426.05,406495.11,1766
4,710-740,ACQ,201802,29,24,573436.19,28580347.37,79992354.38,2990845.02,5007245.07,15866.53,18952
...,...,...,...,...,...,...,...,...,...,...,...,...
2034,740-780,ECM,202308,22,29,1496235.61,38800145.60,68407975.52,1666200.26,268308.82,9704.72,5155
2035,780+,ECM,202308,24,35,722049.83,14084053.89,79910820.98,4129209.29,7354968.20,101939.73,27078
2036,780+,ECM,202308,5,34,911464.86,32355292.75,1159142.21,1135935.07,6892922.14,68005.62,29082
2037,780+,ECM,202308,16,8,1054320.77,27574642.16,80854377.22,2489840.86,7080729.90,80867.09,30018
2038,710-740,ECM,202308,14,16,607374.41,14695707.84,21218739.48,3750671.21,1512196.27,268030.78,7720

# Rajat-attrition_rev_drivers_questions CSV

In [ ]:
df_data = [[1, 'Direct',
        'How many accounts had any sales activity in July 2022.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [2, 'Deep-dive',
        'What percent of total sales is coming from digital transactions in the July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [3, 'Driver Based',
        'Give me the  net revenue for July 2022 portfoliowise.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [4, 'Direct',
        'Which card has the highest amount of net revenue for the July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [5, 'Direct',
        'Show me the net revenue spread grouped by fico values?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [6, 'Driver Based',
        'Which card has the highest percentage amount of collected interchange as a percent of net revenue in July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [7, 'Driver Based',
        'Which card has the highest revenue in terms of digital transactions?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [8, 'Deep-dive',
        'Show me the revenue per transaction across all cards.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [9, 'Direct',
        'How much the forex fee contributed to the net revenue in July 2022.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [10, 'Direct',
        'How much percentage of total fees is coming from balance consolidated fees?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [11, 'Direct',
        'What was the net amount collected as interchange July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [12, 'Deep-dive',
        'Which wallet segment is contributing to highest number of online transactions?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [13, 'Direct',
        'Give me the reason description because of which most customers attrited.',
        'Attrition', 'accdb.xlsx'],
       [14, 'Direct',
        'How many accounts were writed off in the current billing cycle.',
        'Attrition', 'accdb.xlsx'],
       [15, 'Direct',
        'Which card portfolio has the highest number of customers attrited in the current billing cycle.',
        'Attrition', 'accdb.xlsx'],
       [16, 'Deep-dive',
        'Show me the %age of voluntary closed accounts Portfoliowise.',
        'Attrition', 'accdb.xlsx'],
       [17, 'Deep-dive',
        'How many customer accounts were considered as gross credit loss accounts in the current billing cycle?',
        'Attrition', 'accdb.xlsx'],
       [18, 'Direct',
        'How many accounts were considered bankrupt for the current billing cycle?',
        'Attrition', 'accdb.xlsx'],
       [19, 'Direct',
        "Show me the number of customer's got attrited by vintage year groups.",
        'Attrition', 'accdb.xlsx'],
       [20, 'Deep-dive',
        'Which category of cards has the lowest number of attrited accounts for the current billing cycle?',
        'Attrition', 'accdb.xlsx'],
       [21, 'Direct',
        'Which card category has the highest amount of net interest in July 2022 ?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [22, 'Deep-dive',
        'Give me the net revenue distribution segmented by transactors and revolvers.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [23, 'Deep-dive',
        'Show me the net revenue spread grouped by wallet segments?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS']]

cols= ['Sr. No.', 'Category', 'Questions', 'Pulse Dashboard', 'Dataset']
new_df = pd.DataFrame(df_data, columns=cols)

new_df.to_csv('rajat_questions.csv', index=False)