In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.float_format', lambda x: '%.02f' % x)

In [3]:
def category_fill(df,cat_column_name,category_list,categories_prob_list):
    df[cat_column_name] = np.random.choice(category_list,df.shape[0],p=categories_prob_list) 
    return df


def sub_category_fill(df,cat_column_name,sub_cat_column_name,sub_categories_prob_dict): 
    df_new = pd.DataFrame()
    for key,value in sub_categories_prob_dict.items():
        df1 = df[df[cat_column_name]==key]
        df1= category_fill(df1,sub_cat_column_name,value[0],value[1])
        df_new = pd.concat([df_new,df1],axis=0)  
    return df_new

# PIL_Vintage

In [8]:
df_vintage =pd.DataFrame(columns=['open_mon','mob','final_acq_channel','final_campaign_id','ita_t_c_flag','term_band',
                                  'resp_channel','package','fico_band','STATUS_CD','acct_count',
                                  'auto_deduct','citi_auto_deduct','opening_balance','balance','interest','payment',
                                  'tot_fees','gcl','recoveries','NCL','cof','book_amt','apr_wtd_line','apr_wtd_bal',
                                  'portf_fico','app_fico','durtn'                            
                                     ])
df_vintage

Empty DataFrame
Columns: [open_mon, mob, final_acq_channel, final_campaign_id, ita_t_c_flag, term_band, resp_channel, package, fico_band, STATUS_CD, acct_count, auto_deduct, citi_auto_deduct, opening_balance, balance, interest, payment, tot_fees, gcl, recoveries, NCL, cof, book_amt, apr_wtd_line, apr_wtd_bal, portf_fico, app_fico, durtn]
Index: []

[0 rows x 28 columns]

In [7]:
# idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='M')
# df_fee_curve['RECV_YYMM']=idx
# df_fee_curve['RECV_YYMM']=df_fee_curve['RECV_YYMM'].apply(lambda x: datetime.strptime(str(x)[:-9],'%Y-%m-%d').strftime('%Y%m'))

df_vintage['open_mon'] =['201901']*1000


df_vintage = category_fill(df_vintage,'mob',['0','1','2'],[0.4,0.4,0.2])
df_vintage = category_fill(df_vintage,'final_acq_channel',['No Reln BAU','P2C 1.0','P2D ITA 2018_2020','P2D ITA/Organic'],[0.085,0.009,0.585,0.321])

df_vintage = category_fill(df_vintage,'final_campaign_id',['?','ITA1810','ITA1812'],[0.4,0.06,0.54])


df_vintage = category_fill(df_vintage,'ita_t_c_flag',['?','C','T'],[0.4,0.2,0.4])

df_vintage = category_fill(df_vintage,'term_band',['a. Term 1-12','b. Term 13-24','c. Tem 25-36','d. Term 37-48','e. Term 49-60'],
                           [0.15,0.15,0.25,0.15,0.3])


df_vintage = category_fill(df_vintage,'resp_channel',['BRANCH','ONLINE','TELE-SALE'],[0.4,0.3,0.3])

df_vintage = category_fill(df_vintage,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

df_vintage = category_fill(df_vintage,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

fico_list= ['<710','710-740','740-780','780+']
df_vintage['fico_band'] = np.random.choice(fico_list,df_vintage.shape[0],p=[0.26,0.26,0.22,0.26])

df_vintage['STATUS_CD'] = 'ACT'

df_vintage['acct_count']= np.random.randint(0,368,df_vintage.shape[0])
df_vintage['auto_deduct']= np.random.randint(0,354,df_vintage.shape[0])
df_vintage['citi_auto_deduct']= np.random.randint(0,354,df_vintage.shape[0])

df_vintage['opening_balance']= np.random.uniform(611,5899447,df_vintage.shape[0])

df_vintage['interest']= np.random.uniform(-8.21,52525,df_vintage.shape[0])

df_vintage['payment']= np.random.uniform(0,196866,df_vintage.shape[0])

df_vintage['tot_fees']= np.random.randint(0,25,df_vintage.shape[0])

df_vintage['gcl']= 0

df_vintage['recoveries']= 0

df_vintage['NCL']= 0

df_vintage['cof']= np.random.uniform(-12531,-1.53,df_vintage.shape[0])

df_vintage['book_amt']= np.random.uniform(2000,5956335,df_vintage.shape[0])

df_vintage['apr_wtd_line']= np.random.uniform(27480,65442758,df_vintage.shape[0])

df_vintage['apr_wtd_bal']= np.random.uniform(4732,65139904,df_vintage.shape[0])

df_vintage['portf_fico']= np.random.uniform(0,255948,df_vintage.shape[0])

df_vintage['app_fico']= np.where(df_vintage['fico_band']=='<710', 696,
                                     np.where(df_vintage['fico_band']=='710-740',720,
                                             np.where(df_vintage['fico_band']=='740-780',755,790)))


duration = list(range(12,22080,12))
df_vintage['durtn']= np.random.choice(duration,df_vintage.shape[0])

df_vintage

table_name= 'vintage_summary_'
df_vintage.columns = [table_name+i for i in df_vintage.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_vintage.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_vintage[df_info['column_name'][i]].dtype
    
df_revenue.to_csv('PIL_vintage_summary.csv', index=False)
df_info.to_csv( 'PIL_vintage_summary_data_types.csv',index=False)

,open_mon,mob,final_acq_channel,final_campaign_id,ita_t_c_flag,term_band,resp_channel,package,fico_band,STATUS_CD,...,recoveries,NCL,cof,book_amt,apr_wtd_line,apr_wtd_bal,portfolio,app_fico,durtn,port_fico
0,201901,0,P2D ITA/Organic,ITA1812,?,c. Tem 25-36,ONLINE,CitiBlue,740-780,ACT,...,0,0,-5586.48,5741203.54,10695546.86,43008463.12,NaN,755,9240,110082.90
1,201901,1,P2D ITA 2018_2020,ITA1812,?,e. Term 49-60,BRANCH,Cards,<710,ACT,...,0,0,-4823.36,1409736.35,4164779.05,45676326.92,NaN,696,7692,239266.69
2,201901,2,P2D ITA 2018_2020,ITA1812,?,c. Tem 25-36,ONLINE,CitiGold,710-740,ACT,...,0,0,-4115.00,3617471.46,57395387.37,29284083.08,NaN,720,792,102655.82
3,201901,0,P2D ITA 2018_2020,ITA1812,T,e. Term 49-60,ONLINE,CitiBlue,<710,ACT,...,0,0,-6382.88,2489264.08,29666968.46,34152372.73,NaN,696,21312,98717.69
4,201901,1,P2D ITA 2018_2020,ITA1812,C,c. Tem 25-36,TELE-SALE,CitiBlue,740-780,ACT,...,0,0,-12393.86,1092076.11,31778186.12,49238212.64,NaN,755,21552,8492.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,201901,1,P2D ITA 2018_2020,ITA1812,T,e. Term 49-60,ONLINE,CitiPriority,710-740,ACT,...,0,0,-5013.91,3970024.86,55245790.74,39142069.72,NaN,720,8916,166267.48
996,201901,1,P2D ITA 2018_2020,?,T,d. Term 37-48,TELE-SALE,CitiBlue,710-740,ACT,...,0,0,-7885.80,3755505.66,16532645.75,1583205.12,NaN,720,16464,198511.86
997,201901,0,P2D ITA/Organic,ITA1812,T,c. Tem 25-36,BRANCH,CitiBlue,<710,ACT,...,0,0,-11400.05,4302558.05,63680876.95,31910196.09,NaN,696,1176,140715.64
998,201901,1,P2D ITA 2018_2020,?,T,d. Term 37-48,BRANCH,CitiBlue,<710,ACT,...,0,0,-2528.33,4344972.70,65205973.91,39148220.06,NaN,696,15480,68105.00
999,201901,1,P2D ITA 2018_2020,?,T,e. Term 49-60,BRANCH,CitiBlue,710-740,ACT,...,0,0,-4603.90,904389.22,12335270.06,27828388.36,NaN,720,4788,67789.02

In [ ]:
duration = list(range(12,22080,12))
np.random.choice(duration,5)

# PIL_portfolio

In [9]:
df_portfolio =pd.DataFrame(columns=['mon','final_acq_channel','final_campaign_id','ita_t_c_flag','term_band',
                                  'resp_channel','package','fico_band','STATUS_CD','acct_count',
                                    'new_loans','new_loan_amt',
                                  'auto_deduct','citi_auto_deduct','opening_balance','balance','interest','payment',
                                  'tot_fees','gcl','recoveries','NCL','cof','book_amt','apr_wtd_line','apr_wtd_bal',
                                  'portf_fico','app_fico','durtn'                            
                                     ])
df_portfolio

Empty DataFrame
Columns: [mon, final_acq_channel, final_campaign_id, ita_t_c_flag, term_band, resp_channel, package, fico_band, STATUS_CD, acct_count, new_loans, new_loan_amt, auto_deduct, citi_auto_deduct, opening_balance, balance, interest, payment, tot_fees, gcl, recoveries, NCL, cof, book_amt, apr_wtd_line, apr_wtd_bal, portf_fico, app_fico, durtn]
Index: []

[0 rows x 29 columns]

In [ ]:

df_portfolio['mon'] =['201901']*1000


# df_portfolio = category_fill(df_portfolio,'mob',['0','1','2'],[0.4,0.4,0.2])
df_portfolio = category_fill(df_portfolio,'final_acq_channel',['No Reln BAU','P2C 1.0','P2D ITA 2018_2020','P2D ITA/Organic'],[0.085,0.009,0.585,0.321])

df_portfolio = category_fill(df_portfolio,'final_campaign_id',['?','ITA1810','ITA1812'],[0.4,0.06,0.54])


df_portfolio = category_fill(df_portfolio,'ita_t_c_flag',['?','C','T'],[0.4,0.2,0.4])

df_portfolio = category_fill(df_portfolio,'term_band',['a. Term 1-12','b. Term 13-24','c. Tem 25-36','d. Term 37-48','e. Term 49-60'],
                           [0.15,0.15,0.25,0.15,0.3])


df_portfolio = category_fill(df_portfolio,'resp_channel',['BRANCH','ONLINE','TELE-SALE'],[0.4,0.3,0.3])

df_portfolio = category_fill(df_portfolio,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

df_portfolio = category_fill(df_portfolio,'package',['?','Cards','CitiBlue','CitiGold','CitiPriority','Employee'],
                           [0.1,0.05,0.65,0.05,0.1,0.05])

fico_list= ['<710','710-740','740-780','780+']
df_portfolio['fico_band'] = np.random.choice(fico_list,df_portfolio.shape[0],p=[0.26,0.26,0.22,0.26])

df_portfolio['STATUS_CD'] = 'ACT'

df_portfolio['acct_count']= [int(i) for i in np.random.randint(0,368,df_portfolio.shape[0])]

df_portfolio['new_loans']= [int(i) for i in np.random.uniform(0,26,df_portfolio.shape[0])]

df_portfolio['new_loan_amt']= np.random.uniform(0,154000,df_portfolio.shape[0])

df_portfolio['auto_deduct']= np.random.randint(0,354,df_portfolio.shape[0])

df_portfolio['citi_auto_deduct']= np.random.randint(0,354,df_portfolio.shape[0])

df_portfolio['opening_balance']= np.random.uniform(611,5899447,df_portfolio.shape[0])

df_portfolio['interest']= np.random.uniform(-8.21,52525,df_portfolio.shape[0])

df_portfolio['payment']= np.random.uniform(0,196866,df_portfolio.shape[0])

df_portfolio['tot_fees']= np.random.randint(0,25,df_portfolio.shape[0])

df_portfolio['gcl']= 0

df_portfolio['recoveries']= 0

df_portfolio['NCL']= 0

df_portfolio['cof']= np.random.uniform(-12531,-1.53,df_portfolio.shape[0])

df_portfolio['book_amt']= np.random.uniform(2000,5956335,df_portfolio.shape[0])

df_portfolio['apr_wtd_line']= np.random.uniform(27480,65442758,df_portfolio.shape[0])

df_portfolio['apr_wtd_bal']= np.random.uniform(4732,65139904,df_portfolio.shape[0])

df_portfolio['portf_fico']= np.random.uniform(0,255948,df_portfolio.shape[0])

df_portfolio['app_fico']= np.where(df_portfolio['fico_band']=='<710', 696,
                                     np.where(df_portfolio['fico_band']=='710-740',720,
                                             np.where(df_portfolio['fico_band']=='740-780',755,790)))


duration = list(range(12,22080,12))
df_portfolio['durtn']= np.random.choice(duration,df_portfolio.shape[0])

df_portfolio

table_name= 'portfolio_summary_'
df_portfolio.columns = [table_name+i for i in df_portfolio.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_portfolio.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_portfolio[df_info['column_name'][i]].dtype
    
df_revenue.to_csv('PIL_portfolio_summary.csv', index=False)
df_info.to_csv( 'PIL_portfolio_summary_data_types.csv',index=False)

# Balcon Tracking

In [6]:
# Balcon Tracking

df_bal_tracking =pd.DataFrame(columns=['product','channel','acq_date','MOB','acq_month','subchannel_source',
                                      'fico_bkt','balcon_ind','balcon_transfer_monthly','accts','avg_FICO','avg_credit_lt'])


df_bal_tracking

Empty DataFrame
Columns: [product, channel, acq_date, MOB, acq_month, subchannel_source, fico_bkt, balcon_ind, balcon_transfer_monthly, accts, avg_FICO, avg_credit_lt]
Index: []

In [7]:
idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='D')
df_bal_tracking['acq_date']=idx
df_bal_tracking['acq_month']=df_bal_tracking['acq_date'].apply(lambda x: datetime.strptime(str(x)[:-9],'%Y-%m-%d').strftime('%y-%b'))


fico_list= ['<710','710-740','740-780','780+']
df_bal_tracking['fico_bkt'] = np.random.choice(fico_list,df_bal_tracking.shape[0],p=[0.26,0.26,0.22,0.26])


df_bal_tracking = category_fill(df_bal_tracking,'subchannel_source',
                                ['App-By-Phone','Citi Affiliates','Citicards.com',
                                'External Affiliates','Paid Media','Paid Search','PS email'],
                                [0.012,0.052,0.324,0.293,0.025,0.192,0.102]).sort_values(by=['acq_date'])

df_bal_tracking['MOB']= np.random.randint(0,30,df_bal_tracking.shape[0])
df_bal_tracking['product'] ='Citi Rewards+'

df_bal_tracking['channel'] = 'Internet'

df_bal_tracking = category_fill(df_bal_tracking,'balcon_ind',
                                ['1','0'],[0.25,0.75]).sort_values(by=['acq_date'])

df_bal_tracking['balcon_transfer_monthly']= np.random.uniform(0,125833,df_bal_tracking.shape[0])
df_bal_tracking['accts']= [int(i) for i in np.random.uniform(0,92,df_bal_tracking.shape[0])]

df_bal_tracking['avg_credit_lt']= np.random.uniform(1000,16800,df_bal_tracking.shape[0])

df_bal_tracking['avg_FICO']= np.where(df_bal_tracking['fico_bkt']=='<710', 696,
                                     np.where(df_bal_tracking['fico_bkt']=='710-740',720,
                                             np.where(df_bal_tracking['fico_bkt']=='740-780',755,790)))


table_name= 'balcon_tracking_'
df_bal_tracking.columns = [table_name+i for i in df_bal_tracking.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_bal_tracking.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_bal_tracking[df_info['column_name'][i]].dtype
    

df_bal_tracking.sample(1000).to_csv('balcon_tracking.csv', index=False)
df_info.to_csv('balcon_tracking_data_types.csv', index=False)

# Balcon Fee Curve

In [11]:

df_fee_curve =pd.DataFrame(columns=['FICO','Balcon_type','RECV_YYMM', 'MOB','dur_resp','fee_charged','transfer_amt',
                                    'promo_bal','flip_amt','pay_amt','fee_amort','acct'
                                     ])
df_fee_curve

Empty DataFrame
Columns: [FICO, Balcon_type, RECV_YYMM, MOB, dur_resp, fee_charged, transfer_amt, promo_bal, flip_amt, pay_amt, fee_amort, acct]
Index: []

In [12]:
idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='D')
df_fee_curve['RECV_YYMM']=idx
df_fee_curve['RECV_YYMM']=df_fee_curve['RECV_YYMM'].apply(lambda x: datetime.strptime(str(x)[:-9],'%Y-%m-%d').strftime('%Y%m'))


fico_list= ['<710','710-740','740-780','780+']
df_fee_curve['FICO'] = np.random.choice(fico_list,df_fee_curve.shape[0],p=[0.26,0.26,0.22,0.26])

df_fee_curve = category_fill(df_fee_curve,'Balcon_type',['ACQ','ECM','RTN'],[0.28,0.6,0.12])

df_fee_curve['MOB']= np.random.randint(0,30,df_fee_curve.shape[0])
df_fee_curve['dur_resp']= np.random.randint(1,37,df_fee_curve.shape[0])

df_fee_curve['MOB']= np.random.randint(0,30,df_fee_curve.shape[0])

df_fee_curve['acct']= [int(i) for i in np.random.uniform(1,30763,df_fee_curve.shape[0])]
df_fee_curve['fee_charged']= np.random.uniform(0,1550029,df_fee_curve.shape[0])
df_fee_curve['transfer_amt']= np.random.uniform(0,41507374,df_fee_curve.shape[0])
df_fee_curve['promo_bal']= np.random.uniform(0,133621875,df_fee_curve.shape[0])
df_fee_curve['flip_amt']= np.random.uniform(0,4298670,df_fee_curve.shape[0])
df_fee_curve['pay_amt']= np.random.uniform(0,9252389,df_fee_curve.shape[0])
df_fee_curve['fee_amort']= np.random.uniform(0,457974,df_fee_curve.shape[0])

table_name= 'balcon_fee_curve_'
df_fee_curve.columns = [table_name+i for i in df_fee_curve.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_fee_curve.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_fee_curve[df_info['column_name'][i]].dtype
    

df_fee_curve.sample(1000).to_csv('df_fee_curve.csv', index=False)
df_info.to_csv('df_fee_curve_data_types.csv', index=False)

,FICO,Balcon_type,RECV_YYMM,MOB,dur_resp,fee_charged,transfer_amt,promo_bal,flip_amt,pay_amt,fee_amort,acct
0,740-780,ECM,201801,1,31,1193766.14,16128997.42,128604878.13,7221.33,3595572.50,82716.03,5008
1,740-780,ECM,201802,8,28,1300837.54,39542113.22,74712895.01,203159.66,1636430.03,19704.53,5811
2,<710,ECM,201802,8,27,1327414.57,5018935.22,119897251.35,441695.07,8634803.78,433049.01,3642
3,740-780,ECM,201802,28,18,1059260.72,39595301.29,17496470.70,2529373.99,3026426.05,406495.11,1766
4,710-740,ACQ,201802,29,24,573436.19,28580347.37,79992354.38,2990845.02,5007245.07,15866.53,18952
...,...,...,...,...,...,...,...,...,...,...,...,...
2034,740-780,ECM,202308,22,29,1496235.61,38800145.60,68407975.52,1666200.26,268308.82,9704.72,5155
2035,780+,ECM,202308,24,35,722049.83,14084053.89,79910820.98,4129209.29,7354968.20,101939.73,27078
2036,780+,ECM,202308,5,34,911464.86,32355292.75,1159142.21,1135935.07,6892922.14,68005.62,29082
2037,780+,ECM,202308,16,8,1054320.77,27574642.16,80854377.22,2489840.86,7080729.90,80867.09,30018
2038,710-740,ECM,202308,14,16,607374.41,14695707.84,21218739.48,3750671.21,1512196.27,268030.78,7720

# Rajat-attrition_rev_drivers_questions CSV

In [ ]:
df_data = [[1, 'Direct',
        'How many accounts had any sales activity in July 2022.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [2, 'Deep-dive',
        'What percent of total sales is coming from digital transactions in the July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [3, 'Driver Based',
        'Give me the  net revenue for July 2022 portfoliowise.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [4, 'Direct',
        'Which card has the highest amount of net revenue for the July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [5, 'Direct',
        'Show me the net revenue spread grouped by fico values?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [6, 'Driver Based',
        'Which card has the highest percentage amount of collected interchange as a percent of net revenue in July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [7, 'Driver Based',
        'Which card has the highest revenue in terms of digital transactions?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [8, 'Deep-dive',
        'Show me the revenue per transaction across all cards.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [9, 'Direct',
        'How much the forex fee contributed to the net revenue in July 2022.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [10, 'Direct',
        'How much percentage of total fees is coming from balance consolidated fees?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [11, 'Direct',
        'What was the net amount collected as interchange July 2022?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [12, 'Deep-dive',
        'Which wallet segment is contributing to highest number of online transactions?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [13, 'Direct',
        'Give me the reason description because of which most customers attrited.',
        'Attrition', 'accdb.xlsx'],
       [14, 'Direct',
        'How many accounts were writed off in the current billing cycle.',
        'Attrition', 'accdb.xlsx'],
       [15, 'Direct',
        'Which card portfolio has the highest number of customers attrited in the current billing cycle.',
        'Attrition', 'accdb.xlsx'],
       [16, 'Deep-dive',
        'Show me the %age of voluntary closed accounts Portfoliowise.',
        'Attrition', 'accdb.xlsx'],
       [17, 'Deep-dive',
        'How many customer accounts were considered as gross credit loss accounts in the current billing cycle?',
        'Attrition', 'accdb.xlsx'],
       [18, 'Direct',
        'How many accounts were considered bankrupt for the current billing cycle?',
        'Attrition', 'accdb.xlsx'],
       [19, 'Direct',
        "Show me the number of customer's got attrited by vintage year groups.",
        'Attrition', 'accdb.xlsx'],
       [20, 'Deep-dive',
        'Which category of cards has the lowest number of attrited accounts for the current billing cycle?',
        'Attrition', 'accdb.xlsx'],
       [21, 'Direct',
        'Which card category has the highest amount of net interest in July 2022 ?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [22, 'Deep-dive',
        'Give me the net revenue distribution segmented by transactors and revolvers.',
        'Revenue Drivers', 'DRIVERS_REV_CARDS'],
       [23, 'Deep-dive',
        'Show me the net revenue spread grouped by wallet segments?',
        'Revenue Drivers', 'DRIVERS_REV_CARDS']]

cols= ['Sr. No.', 'Category', 'Questions', 'Pulse Dashboard', 'Dataset']
new_df = pd.DataFrame(df_data, columns=cols)

new_df.to_csv('rajat_questions.csv', index=False)

In [14]:
import pandas as pd
import numpy as np
import math
import random
from datetime import datetime

**COSTCO ACQUISITION DASHBOARD**

****costco_acquisition_sm_table1 ****

In [15]:
import pandas as pd
import numpy as np
import random


df_costco_acquisition_sm_table1 = pd.DataFrame(columns=[
    'costco_acquisition_sm_table1_open_time',
    'costco_acquisition_sm_table1_sub_channel_info',
    'costco_acquisition_sm_table1_warehouse_region_cd',
    'costco_acquisition_sm_table1_portf_id',
    'costco_acquisition_sm_table1_membership_type',
    'costco_acquisition_sm_table1_membership_role',
    'costco_acquisition_sm_table1_fico_band',
    'costco_acquisition_sm_table1_tt_card',
    'costco_acquisition_sm_table1_p_m_1year', 
    'costco_acquisition_sm_table1_trip_dub',
    'costco_acquisition_sm_table1_credit_line_range',
    'costco_acquisition_sm_table1_approved_tag',
    'costco_acquisition_sm_table1_applications',
    'costco_acquisition_sm_table1_approved',
    'costco_acquisition_sm_table1_fico_sum',
    'costco_acquisition_sm_table1_fico_sum_appl',
    'costco_acquisition_sm_table1_credit_limit',
    'costco_acquisition_sm_table1_tt_card_num',
    'costco_acquisition_sm_table1_as_of_dt',
    'costco_acquisition_sm_table1_channel_detail',
    'costco_acquisition_sm_table1_pera_chnl' 
])

num_rows = 1000
all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2016, 2024) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(num_rows)]
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_open_time'] = ran_yyyymm

costco_acquisition_sm_table1_sub_channel_info = ['Citi Email','Citi Retail','Citi Sites','Costco Collateral','Costco Email',
                    'Costco Sites','External Sites','ITA','NULL','PA','Warehouse']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_sub_channel_info'] = np.random.choice(costco_acquisition_sm_table1_sub_channel_info, df_costco_acquisition_sm_table1.shape[0],p=[0.00,0.02,0.12,0.06,0.01,0.13,0.08,0.01,0.00,0.01,0.56])

costco_acquisition_sm_table1_warehouse_region_cd = ['-','BA','BD','LA','MW',
                    'NE','NULL','NW','SD','SE','TE']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_warehouse_region_cd'] = np.random.choice(costco_acquisition_sm_table1_warehouse_region_cd, df_costco_acquisition_sm_table1.shape[0],p=[0.43,0.07,0.03,0.07,0.07,0.06,0.03,0.07,0.07,0.06,0.04])

costco_acquisition_sm_table1_portf_id = ['520','521','522']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_portf_id'] = np.random.choice(costco_acquisition_sm_table1_portf_id, df_costco_acquisition_sm_table1.shape[0],p=[0.65,0.13,0.22])

costco_acquisition_sm_table1_membership_type = ['B','E','G','o']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_membership_type'] = np.random.choice(costco_acquisition_sm_table1_membership_type, df_costco_acquisition_sm_table1.shape[0],p=[0.35,0.07,0.56,0.02])

costco_acquisition_sm_table1_membership_role = ['0','1']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_membership_role'] = np.random.choice(costco_acquisition_sm_table1_membership_role, df_costco_acquisition_sm_table1.shape[0],p=[0.35,0.65])

costco_acquisition_sm_table1_fico_band = ["<600", "600-629","630-659","660-699","700-749","750-799", "800-849","850","Invalid","Null"]
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_fico_band'] = np.random.choice(costco_acquisition_sm_table1_fico_band, df_costco_acquisition_sm_table1.shape[0],p=[0.05,0.07,0.10,0.12,0.15,0.18,0.17,0.10,0.03,0.03])


costco_acquisition_sm_table1_tt_card = ["SameDay","1_30Days","31_365days","365_PlusDays","X_INV"]
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_tt_card'] = np.random.choice(costco_acquisition_sm_table1_tt_card, df_costco_acquisition_sm_table1.shape[0],p=[0.19,0.12,0.20,0.47,0.02])


costco_acquisition_sm_table1_p_m_1year= [0,1,-2]
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_p_m_1year'] = np.random.choice(costco_acquisition_sm_table1_p_m_1year, df_costco_acquisition_sm_table1.shape[0],p=[0.47,0.51,0.02])


costco_acquisition_sm_table1_trip_dub= ["DoublePlay","Exec","Goldstar","NoMbrdate","TriplePlay"]
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_trip_dub'] = np.random.choice(costco_acquisition_sm_table1_trip_dub, df_costco_acquisition_sm_table1.shape[0],p=[0.06,0.50,0.31,0.00,0.13])


costco_acquisition_sm_table1_credit_line_range= ["-4","LT_2.9K","3K-3.9K","4K-9.9K","10K-11K","12K_PLus"]
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_credit_line_range'] = np.random.choice(costco_acquisition_sm_table1_credit_line_range, df_costco_acquisition_sm_table1.shape[0],p=[0.41,0.07,0.03,0.29,0.10,0.10])



random_values = np.random.normal(loc=17.7,scale=2, size=num_rows) 
random_values = np.clip(random_values,1, 1068)
df_costco_acquisition_sm_table1 ['costco_acquisition_sm_table1_applications'] = random_values.round().astype (int)

random_values = np.random.normal(loc=9.68,scale =1,size=num_rows) 
random_values = np.clip(random_values,1, 1040)
df_costco_acquisition_sm_table1 ['costco_acquisition_sm_table1_approved'] = random_values.round().astype (int)


df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_approved_tag'] = df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_approved'].map(lambda x: 1 if x != 0 else 0)

random_values = np.random.normal(loc=7348,scale =753.5,size=num_rows) 
random_values = np.clip(random_values,0, 754568)
df_costco_acquisition_sm_table1 ['costco_acquisition_sm_table1_fico_sum'] = random_values.round().astype (int)

random_values = np.random.normal(loc=13027.6,scale =1661,size=num_rows) 
random_values = np.clip(random_values,450, 754568)
df_costco_acquisition_sm_table1 ['costco_acquisition_sm_table1_fico_sum_appl'] = random_values.round().astype (int)


random_values = np.random.normal(loc=69924.1,scale =4000,size=num_rows) 
random_values = np.clip(random_values,0,7471800)
df_costco_acquisition_sm_table1 ['costco_acquisition_sm_table1_credit_limit'] = random_values.round().astype (int)


random_values = np.random.normal(loc=43694.6,scale =990,size=num_rows) 
random_values = np.clip(random_values,-22, 3020015)
df_costco_acquisition_sm_table1 ['costco_acquisition_sm_table1_tt_card_num'] = random_values.round().astype (int)

num_rows = 1000
all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2016, 2024) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(num_rows)]

# Convert yyyymm to yyyymmdd format
ran_yyyymmdd = [yyyymm + random.choice([str(day).zfill(2) for day in range(1, 29)]) for yyyymm in ran_yyyymm]

df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_as_of_dt'] = ran_yyyymmdd

costco_acquisition_sm_table1_channel_detail= ['App by Phone', 'Business Center', 'Business Center Email Placements', 'Citi Branches', 'Citi Channels',
                 'Citicards.com', 'Corporate Liability', 'Costco Email Placements', 'Costco Publications - LPs',
                 'Costco Publications - Phone', 'Costco.com', 'CostcoTravel.com', 'Display', 'External Affiliates',
                 'ITA', 'Marketing Brochure & Other - LPs', 'Marketing Brochure & Other - Phone', 'Non-Partner Email',
                 'NULL', 'PA', 'Paid Search', 'Partner Phones', 'Partner Social', 'Prequal ITA', 'Prequal Pre-Approve',
                 'Purchase Path', 'Pure Digital', 'Solo Email Placements', 'Tablet']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_channel_detail'] = np.random.choice( costco_acquisition_sm_table1_channel_detail, df_costco_acquisition_sm_table1.shape[0],
                                                                    p=[0.05,0.04,0.01,0.05,0.02,0.04,0.05,0.03,0.05,0.04,0.05,0.05,0.00,
                                                                       0.05,0.03,0.05,0.04,0.02,0.00,0.04,0.05,0.04,0.02,
                                                                       0.02,0.02,0.05,0.05,0.03,0.01]
                                                                   )
costco_acquisition_sm_table1_pera_chnl= ['CBNA Retail','Citi Digital','Citi Email_dont_in','External Affiliate','ITA','NULL','PA','Partner Digital', 'Partner Non Digtal']
df_costco_acquisition_sm_table1['costco_acquisition_sm_table1_pera_chnl'] = np.random.choice( costco_acquisition_sm_table1_pera_chnl, df_costco_acquisition_sm_table1.shape[0],
                                                                    p=[0.02,0.13,0.01,0.06,0.01,0.01,0.01,0.15,0.60]
                                                                   )



df_costco_acquisition_sm_table1

,costco_acquisition_sm_table1_open_time,costco_acquisition_sm_table1_sub_channel_info,costco_acquisition_sm_table1_warehouse_region_cd,costco_acquisition_sm_table1_portf_id,costco_acquisition_sm_table1_membership_type,costco_acquisition_sm_table1_membership_role,costco_acquisition_sm_table1_fico_band,costco_acquisition_sm_table1_tt_card,costco_acquisition_sm_table1_p_m_1year,costco_acquisition_sm_table1_trip_dub,...,costco_acquisition_sm_table1_approved_tag,costco_acquisition_sm_table1_applications,costco_acquisition_sm_table1_approved,costco_acquisition_sm_table1_fico_sum,costco_acquisition_sm_table1_fico_sum_appl,costco_acquisition_sm_table1_credit_limit,costco_acquisition_sm_table1_tt_card_num,costco_acquisition_sm_table1_as_of_dt,costco_acquisition_sm_table1_channel_detail,costco_acquisition_sm_table1_pera_chnl
0,201607,Warehouse,SD,521,G,1,600-629,SameDay,1,Exec,...,1,17,10,7175,14119,71001,44196,20221122,Costco.com,Citi Digital
1,202109,Warehouse,BA,520,B,0,850,365_PlusDays,1,Exec,...,1,18,9,8136,11668,66474,42586,20180113,Citi Channels,Partner Digital
2,201709,Warehouse,LA,520,G,1,700-749,365_PlusDays,1,Exec,...,1,17,11,9279,9338,69974,44951,20220515,Solo Email Placements,Partner Digital
3,201702,Costco Collateral,SD,520,E,1,700-749,31_365days,0,Goldstar,...,1,17,9,8093,11721,67744,44212,20210318,PA,Partner Non Digtal
4,201808,Citi Sites,-,521,B,0,660-699,365_PlusDays,0,Exec,...,1,17,10,7334,13384,66936,43342,20161022,Paid Search,Partner Non Digtal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,202004,Costco Collateral,SE,520,G,1,800-849,31_365days,1,Goldstar,...,1,15,9,7991,11348,72887,44183,20200818,Pure Digital,Partner Non Digtal
996,202001,Warehouse,MW,520,B,1,660-699,365_PlusDays,1,Goldstar,...,1,19,9,5559,11757,72794,42898,20170411,Prequal ITA,External Affiliate
997,201911,External Sites,-,522,B,1,700-749,31_365days,0,Exec,...,1,18,11,5965,14669,65828,44294,20220620,Citi Branches,External Affiliate
998,202210,Warehouse,-,521,G,0,600-629,365_PlusDays,0,TriplePlay,...,1,15,11,7261,11344,75755,42976,20210413,ITA,Citi Digital
999,202111,Costco Email,-,520,G,1,Invalid,365_PlusDays,0,Exec,...,1,19,11,5298,10980,67076,43132,20191113,App by Phone,Partner Non Digtal

In [16]:
df_info = pd.DataFrame(columns=['column_name', 'Data_type'])
df_info['column_name'] = df_costco_acquisition_sm_table1 .columns.tolist()

for i in range(df_info.shape[0]):
    df_info.loc[i, 'Data_type'] = df_costco_acquisition_sm_table1 [df_info.loc[i, 'column_name']].dtype

df_costco_acquisition_sm_table1 .to_csv('df_costco_acquisition_sm_table1.csv', index=False)
df_info.to_csv('df_costco_acquisition_sm_table1 _info.csv', index=False)
df_info

                                         column_name Data_type
0             costco_acquisition_sm_table1_open_time    object
1      costco_acquisition_sm_table1_sub_channel_info    object
2   costco_acquisition_sm_table1_warehouse_region_cd    object
3              costco_acquisition_sm_table1_portf_id    object
4       costco_acquisition_sm_table1_membership_type    object
5       costco_acquisition_sm_table1_membership_role    object
6             costco_acquisition_sm_table1_fico_band    object
7               costco_acquisition_sm_table1_tt_card    object
8             costco_acquisition_sm_table1_p_m_1year     int64
9              costco_acquisition_sm_table1_trip_dub    object
10    costco_acquisition_sm_table1_credit_line_range    object
11         costco_acquisition_sm_table1_approved_tag     int64
12         costco_acquisition_sm_table1_applications     int64
13             costco_acquisition_sm_table1_approved     int64
14             costco_acquisition_sm_table1_fico_sum     int64
15        costco_acquisition_sm_table1_fico_sum_appl     int64
16         costco_acquisition_sm_table1_credit_limit     int64
17          costco_acquisition_sm_table1_tt_card_num     int64
18             costco_acquisition_sm_table1_as_of_dt    object
19       costco_acquisition_sm_table1_channel_detail    object
20            costco_acquisition_sm_table1_pera_chnl    object

**costco_acquisitions_sm_table2**

In [17]:
 import pandas as pd
import numpy as np
import random

df_costco_acquisitions_sm_table2 = pd.DataFrame(columns=[
    'costco_acquisitions_sm_table2_open_time',
    'costco_acquisitions_sm_table2_dimension',
    'costco_acquisitions_sm_table2_sub_dimension',
    'costco_acquisitions_sm_table2_applications',
    'costco_acquisitions_sm_table2_applications_approved',
    'costco_acquisitions_sm_table2_sum_credit_limit'
])

num_rows = 1000
all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2016, 2024) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(num_rows)]
df_costco_acquisitions_sm_table2['costco_acquisitions_sm_table2_open_time'] = ran_yyyymm
df_costco_acquisitions_sm_table2['costco_acquisitions_sm_table2_dimension'] = 'channel_detail'
costco_acquisitions_sm_table2_sub_dimension = ['App by Phone', 'Business Center', 'Business Center Email Placements', 'Citi Branches', 'Citi Channels',
                 'Citicards.com', 'Corporate Liability', 'Costco Email Placements', 'Costco Publications - LPs',
                 'Costco Publications - Phone', 'Costco.com', 'CostcoTravel.com', 'Display', 'External Affiliates',
                 'ITA', 'Marketing Brochure & Other - LPs', 'Marketing Brochure & Other - Phone', 'Non-Partner Email',
                 'NULL', 'PA', 'Paid Search', 'Partner Phones', 'Partner Social', 'Prequal ITA', 'Prequal Pre-Approve',
                 'Purchase Path', 'Pure Digital', 'Solo Email Placements', 'Tablet']
df_costco_acquisitions_sm_table2['costco_acquisitions_sm_table2_sub_dimension'] = np.random.choice(costco_acquisitions_sm_table2_sub_dimension, df_costco_acquisitions_sm_table2.shape[0],
                                                                    p=[0.05,0.04,0.01,0.05,0.02,0.04,0.05,0.03,0.05,0.04,0.05,0.05,0.00,
                                                                       0.05,0.03,0.05,0.04,0.02,0.00,0.04,0.05,0.04,0.02,
                                                                       0.02,0.02,0.05,0.05,0.03,0.01]
                                                                   )  # Specify the remaining probabilities
random_values = np.random.normal(loc=4.1,scale=481.5, size=num_rows) 
random_values = np.clip(random_values,1.0, 182311)
df_costco_acquisitions_sm_table2 ['costco_acquisitions_sm_table2_applications'] = random_values.round().astype (int)


random_values = np.random.normal(loc=2.3,scale=269.5, size=num_rows) 
random_values = np.clip(random_values,0, 130588)
df_costco_acquisitions_sm_table2 ['costco_acquisitions_sm_table2_applications_approved'] = random_values.round().astype (int)

random_values = np.random.normal(loc=18038952,scale=2193550, size=num_rows) 
random_values = np.clip(random_values,0, 1110273100)
df_costco_acquisitions_sm_table2 ['costco_acquisitions_sm_table2_sum_credit_limit'] = random_values.round().astype (int)

df_costco_acquisitions_sm_table2

,costco_acquisitions_sm_table2_open_time,costco_acquisitions_sm_table2_dimension,costco_acquisitions_sm_table2_sub_dimension,costco_acquisitions_sm_table2_applications,costco_acquisitions_sm_table2_applications_approved,costco_acquisitions_sm_table2_sum_credit_limit
0,201807,channel_detail,Business Center,215,67,22555692
1,201707,channel_detail,Pure Digital,1,305,17345393
2,202308,channel_detail,Marketing Brochure & Other - Phone,51,167,18220378
3,202111,channel_detail,Costco Publications - LPs,17,123,17951061
4,201706,channel_detail,Paid Search,1,0,18774532
...,...,...,...,...,...,...
995,201711,channel_detail,Citi Branches,1,0,17146541
996,202111,channel_detail,Partner Phones,1040,0,22005094
997,201712,channel_detail,Costco.com,465,0,16826698
998,201906,channel_detail,Citi Channels,991,247,13277411
999,202201,channel_detail,Partner Phones,222,273,17155456

In [18]:
df_info = pd.DataFrame(columns=['column_name', 'Data_type'])
df_info['column_name'] = df_costco_acquisitions_sm_table2.columns.tolist()

for i in range(df_info.shape[0]):
    df_info.loc[i, 'Data_type'] =df_costco_acquisitions_sm_table2[df_info.loc[i, 'column_name']].dtype

df_costco_acquisitions_sm_table2.to_csv('df_costco_acquisitions_sm_table2.csv', index=False)
df_info.to_csv('df_costco_acquisitions_sm_table2_info.csv', index=False)
df_info

                                         column_name Data_type
0            costco_acquisitions_sm_table2_open_time    object
1            costco_acquisitions_sm_table2_dimension    object
2        costco_acquisitions_sm_table2_sub_dimension    object
3         costco_acquisitions_sm_table2_applications     int64
4  costco_acquisitions_sm_table2_applications_app...     int64
5     costco_acquisitions_sm_table2_sum_credit_limit     int64

**costco_acquisitions_sm_daily_table3**

In [19]:
import pandas as pd
import numpy as np
from datetime import datetime
import random

num_rows = 1000

df_costco_acquisitions_sm_daily_table3 = pd.DataFrame(columns=[
    'costco_acquisitions_sm_daily_table3_1st_dcsn_dt',
    'costco_acquisitions_sm_daily_table3_sub_channel_info',
    'costco_acquisitions_sm_daily_table3_warehouse_region_cd',
    'costco_acquisitions_sm_daily_table3_portf_id',
    'costco_acquisitions_sm_daily_table3_membership_type',
    'costco_acquisitions_sm_daily_table3_membership_role',
    'costco_acquisitions_sm_daily_table3_fico_band',
    'costco_acquisitions_sm_daily_table3_tt_card',
    'costco_acquisitions_sm_daily_table3_p_m_1year',
    'costco_acquisitions_sm_daily_table3_trip_dub',
    'costco_acquisitions_sm_daily_table3_credit_line_range',
    'costco_acquisitions_sm_daily_table3_approved_tag',
    'costco_acquisitions_sm_daily_table3_applications',
    'costco_acquisitions_sm_daily_table3_approved',
    'costco_acquisitions_sm_daily_table3_fico_sum',
    'costco_acquisitions_sm_daily_table3_credit_limit',
    'costco_acquisitions_sm_daily_table3_tt_card_num',
    'costco_acquisitions_sm_daily_table3_as_of_dt',
    'costco_acquisitions_sm_daily_table3_channel_detail',
    'costco_acquisitions_sm_daily_table3_pera_chnl'
])

idx = pd.date_range(start='2018-01-31', end='2023-08-31', freq='D')
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_1st_dcsn_dt'] = idx
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_1st_dcsn_dt'] = df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_1st_dcsn_dt'].apply(lambda x: datetime.strptime(str(x)[:10], '%Y-%m-%d').strftime('%d%b%Y'))

costco_acquisitions_sm_daily_table3_sub_channel_info = ['Citi Email','Citi Retail','Citi Sites','Costco Collateral','Costco Email',
                    'Costco Sites','External Sites','ITA','NULL','PA','Warehouse']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_sub_channel_info'] = np.random.choice(costco_acquisitions_sm_daily_table3_sub_channel_info, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.00,0.02,0.12,0.06,0.01,0.13,0.08,0.01,0.00,0.01,0.56])

costco_acquisitions_sm_daily_table3_warehouse_region_cd = ['-','BA','BD','LA','MW',
                    'NE','NULL','NW','SD','SE','TE']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_warehouse_region_cd'] = np.random.choice(costco_acquisitions_sm_daily_table3_warehouse_region_cd, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.43,0.07,0.03,0.07,0.07,0.06,0.03,0.07,0.07,0.06,0.04])

costco_acquisitions_sm_daily_table3_portf_id = ['520','521','522']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_portf_id'] = np.random.choice(costco_acquisitions_sm_daily_table3_portf_id, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.65,0.13,0.22])

costco_acquisitions_sm_daily_table3_membership_type = ['B','E','G','o']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_membership_type'] = np.random.choice(costco_acquisitions_sm_daily_table3_membership_type, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.35,0.07,0.56,0.02])

costco_acquisitions_sm_daily_table3_membership_role = ['0','1']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_membership_role'] = np.random.choice(costco_acquisitions_sm_daily_table3_membership_role, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.35,0.65])

costco_acquisitions_sm_daily_table3_fico_band = ["<600", "600-629","630-659","660-699","700-749","750-799", "800-849","850","Invalid","Null"]
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_fico_band'] = np.random.choice(costco_acquisitions_sm_daily_table3_fico_band, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.05,0.07,0.10,0.12,0.15,0.18,0.17,0.10,0.03,0.03])


costco_acquisitions_sm_daily_table3_tt_card = ["SameDay","1_30Days","31_365days","365_PlusDays","X_INV"]
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_tt_card'] = np.random.choice(costco_acquisitions_sm_daily_table3_tt_card, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.19,0.12,0.20,0.47,0.02])


costco_acquisitions_sm_daily_table3_p_m_1year= [0,1,-2]
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_p_m_1year'] = np.random.choice(costco_acquisitions_sm_daily_table3_p_m_1year, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.47,0.51,0.02])


costco_acquisitions_sm_daily_table3_trip_dub= ["DoublePlay","Exec","Goldstar","NoMbrdate","TriplePlay"]
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_trip_dub'] = np.random.choice(costco_acquisitions_sm_daily_table3_trip_dub, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.06,0.50,0.31,0.00,0.13])


costco_acquisitions_sm_daily_table3_credit_line_range= ["-4","LT_2.9K","3K-3.9K","4K-9.9K","10K-11K","12K_PLus"]
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_credit_line_range'] = np.random.choice(costco_acquisitions_sm_daily_table3_credit_line_range, df_costco_acquisitions_sm_daily_table3.shape[0],p=[0.41,0.07,0.03,0.29,0.10,0.10])



random_values = np.random.normal(loc=17.7, scale=2, size=len(df_costco_acquisitions_sm_daily_table3))
random_values = np.clip(random_values, 1, 1068)
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_applications'] = random_values.round().astype(int)

random_values = np.random.normal(loc=9.68, scale=1, size=len(df_costco_acquisitions_sm_daily_table3))
random_values = np.clip(random_values, 1, 1040)
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_approved'] = random_values.round().astype(int)

df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_approved_tag'] = df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_approved'].map(lambda x: 1 if x != 0 else 0)

random_values = np.random.normal(loc=7348, scale=753.5, size=len(df_costco_acquisitions_sm_daily_table3))
random_values = np.clip(random_values, 0, 754568)
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_fico_sum'] = random_values.round().astype(int)


random_values = np.random.normal(loc=69924.1, scale=4000, size=len(df_costco_acquisitions_sm_daily_table3))
random_values = np.clip(random_values, 0, 7471800)
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_credit_limit'] = random_values.round().astype(int)

random_values = np.random.normal(loc=43694.6, scale=990, size=len(df_costco_acquisitions_sm_daily_table3))
random_values = np.clip(random_values, -22, 3020015)
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_tt_card_num'] = random_values.round().astype(int)

all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2016, 2024) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(len(df_costco_acquisitions_sm_daily_table3))]

# Convert yyyymm to yyyymmdd format
ran_yyyymmdd = [yyyymm + random.choice([str(day).zfill(2) for day in range(1, 29)]) for yyyymm in ran_yyyymm]

df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_as_of_dt'] = ran_yyyymmdd

costco_acquisitions_sm_daily_table3_channel_detail= ['App by Phone', 'Business Center', 'Business Center Email Placements', 'Citi Branches', 'Citi Channels',
                 'Citicards.com', 'Corporate Liability', 'Costco Email Placements', 'Costco Publications - LPs',
                 'Costco Publications - Phone', 'Costco.com', 'CostcoTravel.com', 'Display', 'External Affiliates',
                 'ITA', 'Marketing Brochure & Other - LPs', 'Marketing Brochure & Other - Phone', 'Non-Partner Email',
                 'NULL', 'PA', 'Paid Search', 'Partner Phones', 'Partner Social', 'Prequal ITA', 'Prequal Pre-Approve',
                 'Purchase Path', 'Pure Digital', 'Solo Email Placements', 'Tablet']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_channel_detail'] = np.random.choice(costco_acquisitions_sm_daily_table3_channel_detail, df_costco_acquisitions_sm_daily_table3.shape[0],
                                                                    p=[0.05,0.04,0.01,0.05,0.02,0.04,0.05,0.03,0.05,0.04,0.05,0.05,0.00,
                                                                       0.05,0.03,0.05,0.04,0.02,0.00,0.04,0.05,0.04,0.02,
                                                                       0.02,0.02,0.05,0.05,0.03,0.01]
                                                                   )
costco_acquisitions_sm_daily_table3_pera_chnl= ['CBNA Retail','Citi Digital','Citi Email_dont_in','External Affiliate','ITA','NULL','PA','Partner Digital', 'Partner Non Digtal']
df_costco_acquisitions_sm_daily_table3['costco_acquisitions_sm_daily_table3_pera_chnl'] = np.random.choice(costco_acquisitions_sm_daily_table3_pera_chnl, df_costco_acquisitions_sm_daily_table3.shape[0],
                                                                    p=[0.02,0.13,0.01,0.06,0.01,0.01,0.01,0.15,0.60]
                                                                   )



df_costco_acquisitions_sm_daily_table3

,costco_acquisitions_sm_daily_table3_1st_dcsn_dt,costco_acquisitions_sm_daily_table3_sub_channel_info,costco_acquisitions_sm_daily_table3_warehouse_region_cd,costco_acquisitions_sm_daily_table3_portf_id,costco_acquisitions_sm_daily_table3_membership_type,costco_acquisitions_sm_daily_table3_membership_role,costco_acquisitions_sm_daily_table3_fico_band,costco_acquisitions_sm_daily_table3_tt_card,costco_acquisitions_sm_daily_table3_p_m_1year,costco_acquisitions_sm_daily_table3_trip_dub,costco_acquisitions_sm_daily_table3_credit_line_range,costco_acquisitions_sm_daily_table3_approved_tag,costco_acquisitions_sm_daily_table3_applications,costco_acquisitions_sm_daily_table3_approved,costco_acquisitions_sm_daily_table3_fico_sum,costco_acquisitions_sm_daily_table3_credit_limit,costco_acquisitions_sm_daily_table3_tt_card_num,costco_acquisitions_sm_daily_table3_as_of_dt,costco_acquisitions_sm_daily_table3_channel_detail,costco_acquisitions_sm_daily_table3_pera_chnl
0,31Jan2018,Citi Sites,LA,522,E,1,630-659,1_30Days,1,DoublePlay,4K-9.9K,1,19,8,8449,71300,45147,20170308,Citicards.com,Partner Non Digtal
1,01Feb2018,Costco Collateral,SD,520,G,1,850,1_30Days,1,Goldstar,4K-9.9K,1,17,9,6770,76837,43853,20230817,Partner Social,Partner Non Digtal
2,02Feb2018,External Sites,-,520,E,0,800-849,SameDay,0,Exec,-4,1,17,10,7443,64855,44225,20180305,Costco.com,Partner Non Digtal
3,03Feb2018,Citi Sites,LA,520,G,0,750-799,365_PlusDays,0,Goldstar,-4,1,18,10,7713,74288,43212,20200706,Pure Digital,Partner Non Digtal
4,04Feb2018,Costco Sites,-,521,B,1,660-699,SameDay,0,Goldstar,4K-9.9K,1,19,9,6448,72666,44542,20180226,Partner Phones,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2034,27Aug2023,External Sites,-,522,B,0,<600,SameDay,1,TriplePlay,-4,1,18,9,7561,64546,44273,20230907,Costco Publications - LPs,Partner Non Digtal
2035,28Aug2023,Costco Sites,-,520,G,0,700-749,365_PlusDays,1,TriplePlay,10K-11K,1,16,11,8205,73694,43742,20210612,CostcoTravel.com,Citi Digital
2036,29Aug2023,Warehouse,SE,522,o,1,630-659,365_PlusDays,1,TriplePlay,4K-9.9K,1,18,9,7112,59251,43207,20200523,App by Phone,Partner Non Digtal
2037,30Aug2023,Warehouse,NULL,520,G,1,800-849,365_PlusDays,1,Goldstar,12K_PLus,1,18,10,7420,73745,43815,20160807,Business Center,Partner Non Digtal
2038,31Aug2023,Citi Sites,SD,520,B,1,800-849,X_INV,1,Exec,-4,1,14,11,7294,69109,42831,20191028,Marketing Brochure & Other - LPs,Citi Digital

In [20]:
df_info = pd.DataFrame(columns=['column_name', 'Data_type'])
df_info['column_name'] =df_costco_acquisitions_sm_daily_table3.columns.tolist()

for i in range(df_info.shape[0]):
    df_info.loc[i, 'Data_type'] = df_costco_acquisitions_sm_daily_table3[df_info.loc[i, 'column_name']].dtype

df_costco_acquisitions_sm_daily_table3.to_csv('df_costco_acquisitions_sm_daily_table3.csv', index=False)
df_info.to_csv('df_costco_acquisitions_sm_daily_table3_info.csv', index=False)
df_info

                                          column_name Data_type
0     costco_acquisitions_sm_daily_table3_1st_dcsn_dt    object
1   costco_acquisitions_sm_daily_table3_sub_channe...    object
2   costco_acquisitions_sm_daily_table3_warehouse_...    object
3        costco_acquisitions_sm_daily_table3_portf_id    object
4   costco_acquisitions_sm_daily_table3_membership...    object
5   costco_acquisitions_sm_daily_table3_membership...    object
6       costco_acquisitions_sm_daily_table3_fico_band    object
7         costco_acquisitions_sm_daily_table3_tt_card    object
8       costco_acquisitions_sm_daily_table3_p_m_1year     int64
9        costco_acquisitions_sm_daily_table3_trip_dub    object
10  costco_acquisitions_sm_daily_table3_credit_lin...    object
11   costco_acquisitions_sm_daily_table3_approved_tag     int64
12   costco_acquisitions_sm_daily_table3_applications     int64
13       costco_acquisitions_sm_daily_table3_approved     int64
14       costco_acquisitions_sm_daily_table3_fico_sum     int64
15   costco_acquisitions_sm_daily_table3_credit_limit     int64
16    costco_acquisitions_sm_daily_table3_tt_card_num     int64
17       costco_acquisitions_sm_daily_table3_as_of_dt    object
18  costco_acquisitions_sm_daily_table3_channel_de...    object
19      costco_acquisitions_sm_daily_table3_pera_chnl    object

**costco_acquisitions_sm_sankey_table4**

In [21]:
import pandas as pd
import numpy as np
import random

num_rows = 1000

df_costco_acquisitions_sm_sankey_table4  = pd.DataFrame(columns=[
    'costco_acquisitions_sm_sankey_table4_open_time',
    'costco_acquisitions_sm_sankey_table4_sub_channel_info',
    'costco_acquisitions_sm_sankey_table4_warehouse_region_cd',
    'costco_acquisitions_sm_sankey_table4_portf_id',
    'costco_acquisitions_sm_sankey_table4_membership_type',
    'costco_acquisitions_sm_sankey_table4_membership_role',
    'costco_acquisitions_sm_sankey_table4_fico_band',
    'costco_acquisitions_sm_sankey_table4_tt_card',
    'costco_acquisitions_sm_sankey_table4_p_m_1year',
    'costco_acquisitions_sm_sankey_table4_trip_dub',
    'costco_acquisitions_sm_sankey_table4_credit_line_range',
    'costco_acquisitions_sm_sankey_table4_approved_tag',
    'costco_acquisitions_sm_sankey_table4_applications',
    'costco_acquisitions_sm_sankey_table4_approved',
    'costco_acquisitions_sm_sankey_table4_fico_sum',
    'costco_acquisitions_sm_sankey_table4_fico_sum_appl',
    'costco_acquisitions_sm_sankey_table4_credit_limit',
    'costco_acquisitions_sm_sankey_table4_tt_card_num',
    'costco_acquisitions_sm_sankey_table4_as_of_dt',
    'costco_acquisitions_sm_sankey_table4_channel_detail',
    'costco_acquisitions_sm_sankey_table4_pera_chnl',
    'costco_acquisitions_sm_sankey_table4_link'
])



all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2016, 2024) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(num_rows)]
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_open_time'] = ran_yyyymm

costco_acquisitions_sm_sankey_table4_sub_channel_info = ['Citi Email','Citi Retail','Citi Sites','Costco Collateral','Costco Email',
                    'Costco Sites','External Sites','ITA','NULL','PA','Warehouse']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_sub_channel_info'] = np.random.choice(costco_acquisitions_sm_sankey_table4_sub_channel_info, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.00,0.02,0.12,0.06,0.01,0.13,0.08,0.01,0.00,0.01,0.56])


costco_acquisitions_sm_sankey_table4_warehouse_region_cd = ['-','BA','BD','LA','MW',
                    'NE','NULL','NW','SD','SE','TE']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_warehouse_region_cd'] = np.random.choice(costco_acquisitions_sm_sankey_table4_warehouse_region_cd, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.43,0.07,0.03,0.07,0.07,0.06,0.03,0.07,0.07,0.06,0.04])

costco_acquisitions_sm_sankey_table4_portf_id = ['520','521','522']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_portf_id'] = np.random.choice(costco_acquisitions_sm_sankey_table4_portf_id, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.65,0.13,0.22])

costco_acquisitions_sm_sankey_table4_membership_type = ['B','E','G','o']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_membership_type'] = np.random.choice(costco_acquisitions_sm_sankey_table4_membership_type, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.35,0.07,0.56,0.02])

costco_acquisitions_sm_sankey_table4_membership_role = ['0','1']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_membership_role'] = np.random.choice(costco_acquisitions_sm_sankey_table4_membership_role, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.35,0.65])

costco_acquisitions_sm_sankey_table4_fico_band = ["<600", "600-629","630-659","660-699","700-749","750-799", "800-849","850","Invalid","Null"]
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_fico_band'] = np.random.choice(costco_acquisitions_sm_sankey_table4_fico_band, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.05,0.07,0.10,0.12,0.15,0.18,0.17,0.10,0.03,0.03])


costco_acquisitions_sm_sankey_table4_tt_card = ["SameDay","1_30Days","31_365days","365_PlusDays","X_INV"]
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_tt_card'] = np.random.choice(costco_acquisitions_sm_sankey_table4_tt_card, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.19,0.12,0.20,0.47,0.02])


costco_acquisitions_sm_sankey_table4_p_m_1year= [0,1,-2]
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_p_m_1year'] = np.random.choice(costco_acquisitions_sm_sankey_table4_p_m_1year, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.47,0.51,0.02])


costco_acquisitions_sm_sankey_table4_trip_dub= ["DoublePlay","Exec","Goldstar","NoMbrdate","TriplePlay"]
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_trip_dub'] = np.random.choice(costco_acquisitions_sm_sankey_table4_trip_dub, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.06,0.50,0.31,0.00,0.13])


costco_acquisitions_sm_sankey_table4_credit_line_range= ["-4","LT_2.9K","3K-3.9K","4K-9.9K","10K-11K","12K_PLus"]
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_credit_line_range'] = np.random.choice(costco_acquisitions_sm_sankey_table4_credit_line_range, df_costco_acquisitions_sm_sankey_table4.shape[0],p=[0.41,0.07,0.03,0.29,0.10,0.10])



random_values = np.random.normal(loc=17.7, scale=2, size=num_rows)
random_values = np.clip(random_values, 1, 1068)
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_applications'] = random_values.round().astype(int)

random_values = np.random.normal(loc=9.68, scale=1, size=num_rows)
random_values = np.clip(random_values, 1, 1040)
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_approved'] = random_values.round().astype(int)

df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_approved_tag'] = df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_approved'].map(lambda x: 1 if x != 0 else 0)

random_values = np.random.normal(loc=7348, scale=753.5, size=num_rows)
random_values = np.clip(random_values, 0, 754568)
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_fico_sum'] = random_values.round().astype(int)

random_values = np.random.normal(loc=13027.6, scale=1661, size=num_rows)
random_values = np.clip(random_values, 450, 754568)
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_fico_sum_appl'] = random_values.round().astype(int)

random_values = np.random.normal(loc=69924.1, scale=4000, size=num_rows)
random_values = np.clip(random_values, 0, 7471800)
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_credit_limit'] = random_values.round().astype(int)

random_values = np.random.normal(loc=43694.6, scale=990, size=num_rows)
random_values = np.clip(random_values, -22, 3020015)
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_tt_card_num'] = random_values.round().astype(int)

all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2016, 2024) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(num_rows)]

# Convert yyyymm to yyyymmdd format
ran_yyyymmdd = [yyyymm + random.choice([str(day).zfill(2) for day in range(1, 29)]) for yyyymm in ran_yyyymm]

df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_as_of_dt'] = ran_yyyymmdd

costco_acquisitions_sm_sankey_table4_channel_detail= ['App by Phone', 'Business Center', 'Business Center Email Placements', 'Citi Branches', 'Citi Channels',
                 'Citicards.com', 'Corporate Liability', 'Costco Email Placements', 'Costco Publications - LPs',
                 'Costco Publications - Phone', 'Costco.com', 'CostcoTravel.com', 'Display', 'External Affiliates',
                 'ITA', 'Marketing Brochure & Other - LPs', 'Marketing Brochure & Other - Phone', 'Non-Partner Email',
                 'NULL', 'PA', 'Paid Search', 'Partner Phones', 'Partner Social', 'Prequal ITA', 'Prequal Pre-Approve',
                 'Purchase Path', 'Pure Digital', 'Solo Email Placements', 'Tablet']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_channel_detail'] = np.random.choice(costco_acquisitions_sm_sankey_table4_channel_detail, df_costco_acquisitions_sm_sankey_table4.shape[0],
                                                                    p=[0.05,0.04,0.01,0.05,0.02,0.04,0.05,0.03,0.05,0.04,0.05,0.05,0.00,
                                                                       0.05,0.03,0.05,0.04,0.02,0.00,0.04,0.05,0.04,0.02,
                                                                       0.02,0.02,0.05,0.05,0.03,0.01]
                                                                   )
costco_acquisitions_sm_sankey_table4_pera_chnl= ['CBNA Retail','Citi Digital','Citi Email_dont_in','External Affiliate','ITA','NULL','PA','Partner Digital', 'Partner Non Digtal']
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_pera_chnl'] = np.random.choice(costco_acquisitions_sm_sankey_table4_pera_chnl, df_costco_acquisitions_sm_sankey_table4.shape[0],
                                                                    p=[0.02,0.13,0.01,0.06,0.01,0.01,0.01,0.15,0.60]
                                                                   )

costco_acquisitions_sm_sankey_table4_link= ['Link'] 
df_costco_acquisitions_sm_sankey_table4['costco_acquisitions_sm_sankey_table4_link']= np.random.choice(costco_acquisitions_sm_sankey_table4_link, df_costco_acquisitions_sm_sankey_table4.shape[0],
                                                                    p=[1.0]
                                                                   )


df_costco_acquisitions_sm_sankey_table4

,costco_acquisitions_sm_sankey_table4_open_time,costco_acquisitions_sm_sankey_table4_sub_channel_info,costco_acquisitions_sm_sankey_table4_warehouse_region_cd,costco_acquisitions_sm_sankey_table4_portf_id,costco_acquisitions_sm_sankey_table4_membership_type,costco_acquisitions_sm_sankey_table4_membership_role,costco_acquisitions_sm_sankey_table4_fico_band,costco_acquisitions_sm_sankey_table4_tt_card,costco_acquisitions_sm_sankey_table4_p_m_1year,costco_acquisitions_sm_sankey_table4_trip_dub,...,costco_acquisitions_sm_sankey_table4_applications,costco_acquisitions_sm_sankey_table4_approved,costco_acquisitions_sm_sankey_table4_fico_sum,costco_acquisitions_sm_sankey_table4_fico_sum_appl,costco_acquisitions_sm_sankey_table4_credit_limit,costco_acquisitions_sm_sankey_table4_tt_card_num,costco_acquisitions_sm_sankey_table4_as_of_dt,costco_acquisitions_sm_sankey_table4_channel_detail,costco_acquisitions_sm_sankey_table4_pera_chnl,costco_acquisitions_sm_sankey_table4_link
0,202304,Warehouse,NE,522,B,1,850,365_PlusDays,0,Exec,...,17,10,6894,12498,71738,44219,20170221,Prequal Pre-Approve,Partner Non Digtal,Link
1,202308,Citi Sites,-,520,G,0,750-799,1_30Days,1,Goldstar,...,17,8,7270,10525,78416,44913,20210502,Paid Search,Partner Non Digtal,Link
2,202308,Citi Sites,NW,520,G,1,800-849,SameDay,0,DoublePlay,...,18,9,7769,13582,70083,44319,20190226,ITA,Partner Non Digtal,Link
3,202212,External Sites,-,520,B,1,630-659,365_PlusDays,0,Exec,...,21,10,7314,11567,67152,41929,20210826,Costco Publications - LPs,Partner Non Digtal,Link
4,201911,External Sites,-,522,E,0,850,SameDay,1,Goldstar,...,20,9,6685,11566,70314,43899,20220709,Paid Search,Partner Non Digtal,Link
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,202202,Warehouse,-,520,B,1,750-799,365_PlusDays,0,Exec,...,18,9,7002,11211,66067,45010,20191010,App by Phone,Partner Non Digtal,Link
996,201704,Citi Sites,LA,520,G,1,600-629,365_PlusDays,1,Exec,...,18,8,8938,15659,68247,42591,20180528,Citi Channels,External Affiliate,Link
997,202309,Costco Sites,-,522,G,0,700-749,365_PlusDays,0,Exec,...,17,9,7623,15706,73852,44134,20210520,Pure Digital,Partner Non Digtal,Link
998,202007,Warehouse,NULL,520,B,1,600-629,SameDay,0,Exec,...,19,10,8340,10820,71428,42606,20191128,Pure Digital,External Affiliate,Link
999,202209,Warehouse,NULL,522,G,0,800-849,SameDay,1,Exec,...,17,9,7174,10324,62730,44161,20160626,ITA,Partner Digital,Link

In [22]:
df_info = pd.DataFrame(columns=['column_name', 'Data_type'])
df_info['column_name'] = df_costco_acquisitions_sm_sankey_table4.columns.tolist()

for i in range(df_info.shape[0]):
    df_info.loc[i, 'Data_type'] = df_costco_acquisitions_sm_sankey_table4[df_info.loc[i, 'column_name']].dtype

df_costco_acquisitions_sm_sankey_table4.to_csv('df_costco_acquisitions_sm_sankey_table4.csv', index=False)
df_info.to_csv('df_costco_acquisitions_sm_sankey_table4_info.csv', index=False)
df_info

                                          column_name Data_type
0      costco_acquisitions_sm_sankey_table4_open_time    object
1   costco_acquisitions_sm_sankey_table4_sub_chann...    object
2   costco_acquisitions_sm_sankey_table4_warehouse...    object
3       costco_acquisitions_sm_sankey_table4_portf_id    object
4   costco_acquisitions_sm_sankey_table4_membershi...    object
5   costco_acquisitions_sm_sankey_table4_membershi...    object
6      costco_acquisitions_sm_sankey_table4_fico_band    object
7        costco_acquisitions_sm_sankey_table4_tt_card    object
8      costco_acquisitions_sm_sankey_table4_p_m_1year     int64
9       costco_acquisitions_sm_sankey_table4_trip_dub    object
10  costco_acquisitions_sm_sankey_table4_credit_li...    object
11  costco_acquisitions_sm_sankey_table4_approved_tag     int64
12  costco_acquisitions_sm_sankey_table4_applications     int64
13      costco_acquisitions_sm_sankey_table4_approved     int64
14      costco_acquisitions_sm_sankey_table4_fico_sum     int64
15  costco_acquisitions_sm_sankey_table4_fico_sum_...     int64
16  costco_acquisitions_sm_sankey_table4_credit_limit     int64
17   costco_acquisitions_sm_sankey_table4_tt_card_num     int64
18      costco_acquisitions_sm_sankey_table4_as_of_dt    object
19  costco_acquisitions_sm_sankey_table4_channel_d...    object
20     costco_acquisitions_sm_sankey_table4_pera_chnl    object
21          costco_acquisitions_sm_sankey_table4_link    object

**costco_acquisitions_lm_final**

In [23]:
import pandas as pd
import numpy as np
import random

num_rows = 1000

df_costco_acquisitions_lm_final = pd.DataFrame(columns=[
    'per_num',
    'pid_segment',
    'vintage_month',
    'mob',
    'vintage_quarter',
    'channel_info',
    'pay_in_full_tag',
    'final_fico',
    'channel_detail',
    'pera_chnl',
    'accts',
    'accts_new_acquisitions',
    'open_accts',
    'accts_closed_new',
    'bill_actv_accts',
    'accts_active_sales',
    'accts_ncl',
    'interest_charged',
    'nim',
    'cost_of_funds',
    'ncl_dollar_amt',
    'sales_purchase',
    'purch_sales',
    'cnr',
    'ncm',
    'bi',
    'total_payment',
    'bal_anr',
    'bal_enr',
    'bal_open',
    'bal_revolving',
    'accts_enr_delq_26',
    'accts_enr_delq_36',
    'apr_weighted_avg',
    'bal_risk',
    'bal_intro',
    'bal_goto',
    'accts_enr',
    'interchange',
    'total_credit_limit',
    'a_4x_cco_gas',
    'n_4x_cco_gas',
    'a_2x_costco_wareouse',
    'n_2x_costco_wareouse',
    'a_2x_costco_online',
    'n_2x_costco_online',
    'a_3x_costco_travel',
    'n_3x_costco_travel',
    'a_2x_costco_other',
    'n_2x_costco_other',
    'a_2x_costco_mbr',
    'n_2x_costco_mbr',
    'a_4x_gas',
    'n_4x_gas',
    'a_3x_travel',
    'n_3x_travel',
    'a_3x_restaurant',
    'n_3x_restaurant',
    'a_1x_other',
    'n_1x_other',
    'a_trans_amt_online',
    'n_trans_online',
    'a_cco',
    'n_cco',
    'a_non_cco',
    'n_non_cco',
    'a_total',
    'n_total',
    'a_interchange',
    'goto_bal_revolving',
    'a_interchange',
    'goto_bal_revolving',
    'tt_card_num',
    'tt_card_accts',
    'cycle_interest_cr_amt',
    'rebate_cost',
    'sub_channel_info'
])

df_costco_acquisitions_lm_final['per_num'] = ['6454'] * 1000

df_costco_acquisitions_lm_final['pid_segment'] = ['520'] * 1000

all_yyyymm = [str(year) + str(month).zfill(2) for year in range(2022, 2023) for month in range(1, 13)]
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm <= '202309']
all_yyyymm = [yyyymm for yyyymm in all_yyyymm if yyyymm >= '201606']
ran_yyyymm = [random.choice(all_yyyymm) for _ in range(num_rows)]

df_costco_acquisitions_lm_final['vintage_month'] = ['V' + yyyymm[:6] for yyyymm in ran_yyyymm]


mob = [17,18,19,20,21,22,23,24,25]
df_costco_acquisitions_lm_final['mob'] = np.random.choice(mob,df_costco_acquisitions_lm_final.shape[0],p=[0.02,0.09,0.09,0.17,0.16,0.17,0.15,0.08,0.07])



pay_in_full_tag = [-1,0,1]
df_costco_acquisitions_lm_final['pay_in_full_tag'] = np.random.choice(pay_in_full_tag,df_costco_acquisitions_lm_final.shape[0],p=[0.31,0.33,0.36])

df_costco_acquisitions_lm_final['final_fico'] = ['NA'] * 1000

pera_chnl= ['CBNA Retail','Citi Digital','Citi Email_dont_in','External Affiliate','ITA','NULL','PA','Partner Digital', 'Partner Non Digtal']
df_costco_acquisitions_lm_final['pera_chnl'] = np.random.choice(pera_chnl, df_costco_acquisitions_lm_final.shape[0],p=[0.02,0.13,0.01,0.06,0.01,0.01,0.01,0.15,0.60])

sub_channel_info = ['Citi Email','Citi Retail','Citi Sites','Costco Collateral','Costco Email',
                    'Costco Sites','External Sites','ITA','NULL','PA','Warehouse']
df_costco_acquisitions_lm_final['sub_channel_info'] = np.random.choice(sub_channel_info, df_costco_acquisitions_lm_final.shape[0],p=[0.00,0.02,0.12,0.06,0.01,0.13,0.08,0.01,0.00,0.01,0.56])

channel_detail= ['App by Phone', 'Business Center', 'Business Center Email Placements', 'Citi Branches', 'Citi Channels',
                 'Citicards.com', 'Corporate Liability', 'Costco Email Placements', 'Costco Publications - LPs',
                 'Costco Publications - Phone', 'Costco.com', 'CostcoTravel.com', 'Display', 'External Affiliates',
                 'ITA', 'Marketing Brochure & Other - LPs', 'Marketing Brochure & Other - Phone', 'Non-Partner Email',
                 'NULL', 'PA', 'Paid Search', 'Partner Phones', 'Partner Social', 'Prequal ITA', 'Prequal Pre-Approve',
                 'Purchase Path', 'Pure Digital', 'Solo Email Placements', 'Tablet']
df_costco_acquisitions_lm_final['channel_detail'] = np.random.choice(channel_detail, df_costco_acquisitions_lm_final.shape[0],
                                                                    p=[0.05,0.04,0.01,0.05,0.02,0.04,0.05,0.03,0.05,0.04,0.05,0.05,0.00,
                                                                       0.05,0.03,0.05,0.04,0.02,0.00,0.04,0.05,0.04,0.02,
                                                                       0.02,0.02,0.05,0.05,0.03,0.01])

quarters = ['Q1', 'Q2', 'Q3', 'Q4']
df_costco_acquisitions_lm_final['vintage_quarter'] = [yyyymm[:4] + ' ' + random.choice(quarters) for yyyymm in ran_yyyymm]

df_costco_acquisitions_lm_final['channel_info'] = df_costco_acquisitions_lm_final['sub_channel_info'].map({
    'Citi Email': 'Citi Digital',
    'Citi Sites': 'Citi Digital',
    'External Sites': 'Citi Digital',
    'Citi Retail': 'Citi Retail',
    'Costco Collateral': 'Costco Collateral',
    'Costco Email': 'Costco Digital',
    'Costco Sites': 'Costco Digital',
    'PA': 'Direct Mail',
    'NULL': 'No Channel Info',
    'Warehouse': 'Warehouse'
})


random_values = np.random.normal(loc=708.8, scale=29, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 1, 32025)
df_costco_acquisitions_lm_final['accts'] = random_values.round().astype(int)

random_values = np.random.normal(loc=0, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 0)
df_costco_acquisitions_lm_final['accts_new_acquisitions'] = random_values.round().astype(int)

random_values = np.random.normal(loc=654.5, scale=23, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 31894)
df_costco_acquisitions_lm_final['open_accts'] = random_values.round().astype(int)

random_values = np.random.normal(loc=3.14, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 518)
df_costco_acquisitions_lm_final['accts_closed_new'] = random_values.round().astype(int)

random_values = np.random.normal(loc=585.3, scale=8, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0,31948 )
df_costco_acquisitions_lm_final['bill_actv_accts'] = random_values.round().astype(int)

random_values = np.random.normal(loc=506.3, scale=7, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0,29377 )
df_costco_acquisitions_lm_final['accts_active_sales'] = random_values.round().astype(int)

random_values = np.random.normal(loc=0.62, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0,56 )
df_costco_acquisitions_lm_final['accts_ncl'] = random_values.round().astype(int)

random_values = np.random.normal(loc=10550.2, scale=51.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0,771446 )
df_costco_acquisitions_lm_final['interest_charged'] = random_values.round().astype(int)

random_values = np.random.normal(loc=9195.6, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-434,697315)
df_costco_acquisitions_lm_final['nim'] = random_values.round().astype(int)

random_values = np.random.normal(loc=1354.44, scale=14.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0,74130 )
df_costco_acquisitions_lm_final['cost_of_funds'] = random_values.round().astype(int)

random_values = np.random.normal(loc=2565.17, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 242565)
df_costco_acquisitions_lm_final['ncl_dollar_amt'] = random_values.round().astype(int)

random_values = np.random.normal(loc=584942.5, scale=6540, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 36571239)
df_costco_acquisitions_lm_final['sales_purchase'] = random_values.round().astype(int)

random_values = np.random.normal(loc=584942.5, scale=6540, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 36571239)
df_costco_acquisitions_lm_final['purch_sales'] = random_values.round().astype(int)

random_values = np.random.normal(loc=9159.3, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-28361,726255 )
df_costco_acquisitions_lm_final['cnr'] = random_values.round().astype(int)

random_values = np.random.normal(loc=6909.2, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-28361,558215)
df_costco_acquisitions_lm_final['ncm'] = random_values.round().astype(int)

random_values = np.random.normal(loc=5046.5, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-123426,501001)
df_costco_acquisitions_lm_final['bi'] = random_values.round().astype(int)


random_values = np.random.normal(loc=646093.1, scale=7618.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 41591701)
df_costco_acquisitions_lm_final['total_payment',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1161998.2, scale=1, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-107,61996157)
df_costco_acquisitions_lm_final['bal_anr',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1161428.6, scale=12696, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-90,63865845 )
df_costco_acquisitions_lm_final['bal_enr',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1208599, scale=13233, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-266,63271797)
df_costco_acquisitions_lm_final['bal_open',] = random_values.round().astype(int)


random_values = np.random.normal(loc=841472.2, scale=4138.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-13 ,61859173 )
df_costco_acquisitions_lm_final['bal_revolving',] = random_values.round().astype(int)

random_values = np.random.normal(loc=3.8, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,379 )
df_costco_acquisitions_lm_final['accts_enr_delq_26',] = random_values.round().astype(int)

random_values = np.random.normal(loc=2.6, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 279)
df_costco_acquisitions_lm_final['accts_enr_delq_36',] = random_values.round().astype(int)

random_values = np.random.normal(loc=8241.4, scale=106, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,415656 )
df_costco_acquisitions_lm_final['apr_weighted_avg',] = random_values.round().astype(int)

random_values = np.random.normal(loc=20575.1, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-239 ,1660252 )
df_costco_acquisitions_lm_final['bal_risk',] = random_values.round().astype(int)

random_values = np.random.normal(loc=494.2, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0, 66925)
df_costco_acquisitions_lm_final['bal_intro',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1116831.1, scale=12531, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-90 ,61121536 )
df_costco_acquisitions_lm_final['bal_goto',] = random_values.round().astype(int)

random_values = np.random.normal(loc=703.7, scale=28, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,1 ,32022 )
df_costco_acquisitions_lm_final['accts_enr',] = random_values.round().astype(int)

random_values = np.random.normal(loc=8982.5, scale=89.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, -8,551955 )
df_costco_acquisitions_lm_final['interchange',] = random_values.round().astype(int)

random_values = np.random.normal(loc=6302284.4, scale=252550, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 4000,292075900 )
df_costco_acquisitions_lm_final['total_credit_limit',] = random_values.round().astype(int)


random_values = np.random.normal(loc=18012.3, scale=218.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0, 1166202)
df_costco_acquisitions_lm_final['a_4x_cco_gas',] = random_values.round().astype(int)

random_values = np.random.normal(loc=585.0, scale=7, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 ,38710 )
df_costco_acquisitions_lm_final['n_4x_cco_gas',] = random_values.round().astype(int)

random_values = np.random.normal(loc=111145.9, scale=1155.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, -488, 7491639)
df_costco_acquisitions_lm_final['a_2x_costco_wareouse',] = random_values.round().astype(int)

random_values = np.random.normal(loc=855.5, scale=10, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,58160 )
df_costco_acquisitions_lm_final['n_2x_costco_wareouse',] = random_values.round().astype(int)

random_values = np.random.normal(loc=19568.6, scale=26.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-1343 ,1185296 )
df_costco_acquisitions_lm_final['a_2x_costco_online',] = random_values.round().astype(int)

random_values = np.random.normal(loc=103.1, scale=1, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 ,5955 )
df_costco_acquisitions_lm_final['n_2x_costco_online',] = random_values.round().astype(int)

random_values = np.random.normal(loc=923.9, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-5125 , 78216)
df_costco_acquisitions_lm_final['a_3x_costco_travel',] = random_values.round().astype(int) 


random_values = np.random.normal(loc=0.64, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 41)
df_costco_acquisitions_lm_final['n_3x_costco_travel',] = random_values.round().astype(int)

random_values = np.random.normal(loc=0, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 ,0 )
df_costco_acquisitions_lm_final['a_2x_costco_other',] = random_values.round().astype(int)

random_values = np.random.normal(loc=0, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 0)
df_costco_acquisitions_lm_final['n_2x_costco_other',] = random_values.round().astype(int)

random_values = np.random.normal(loc=4485.3, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 964590)
df_costco_acquisitions_lm_final['a_2x_costco_mbr',] = random_values.round().astype(int)

random_values = np.random.normal(loc=40.5, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 8577)
df_costco_acquisitions_lm_final['n_2x_costco_mbr',] = random_values.round().astype(int)

random_values = np.random.normal(loc=14952.2, scale=136.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 907568)
df_costco_acquisitions_lm_final['a_4x_gas',] = random_values.round().astype(int)

random_values = np.random.normal(loc=523.9, scale=5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 ,32404 )
df_costco_acquisitions_lm_final['n_4x_gas',] = random_values.round().astype(int)

random_values = np.random.normal(loc=19084.8, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-3529,1155427)
df_costco_acquisitions_lm_final['a_3x_travel',] = random_values.round().astype(int)

random_values = np.random.normal(loc=72.3, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0, 4207)
df_costco_acquisitions_lm_final['n_3x_travel',] = random_values.round().astype(int)

random_values = np.random.normal(loc=36997.5, scale=364.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,2230750 )
df_costco_acquisitions_lm_final['a_3x_restaurant',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1374.39, scale=13, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0, 85832)
df_costco_acquisitions_lm_final['n_3x_restaurant',] = random_values.round().astype(int)

random_values = np.random.normal(loc=331880.6, scale=2880.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-764,20638831 )
df_costco_acquisitions_lm_final['a_1x_other',] = random_values.round().astype(int)

random_values = np.random.normal(loc=4152.8, scale=44, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 257070)
df_costco_acquisitions_lm_final[    'n_1x_other',] = random_values.round().astype(int)

random_values = np.random.normal(loc=148271.6, scale=1338, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-825 ,8927351 )
df_costco_acquisitions_lm_final['a_trans_amt_online',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1607.2, scale=17, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 93474)
df_costco_acquisitions_lm_final['n_trans_online',] = random_values.round().astype(int)

random_values = np.random.normal(loc=154136.9, scale=1562.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-499,9984016)
df_costco_acquisitions_lm_final['a_cco',] = random_values.round().astype(int)

random_values = np.random.normal(loc=1585, scale=19, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 , 103652)
df_costco_acquisitions_lm_final['n_cco',] = random_values.round().astype(int)

random_values = np.random.normal(loc=402916.1, scale=3985, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, -661, 24859042)
df_costco_acquisitions_lm_final['a_non_cco',] = random_values.round().astype(int)

random_values = np.random.normal(loc=6123.5, scale=69.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,0 ,379433 )
df_costco_acquisitions_lm_final['n_non_cco',] = random_values.round().astype(int)

random_values = np.random.normal(loc=557053.40, scale=6151, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-35 ,34843058 )
df_costco_acquisitions_lm_final['a_total',] = random_values.round().astype(int)

random_values = np.random.normal(loc=7708.5, scale=87, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0, 483085)
df_costco_acquisitions_lm_final['n_total',] = random_values.round().astype(int)

random_values = np.random.normal(loc=8955.4, scale=89.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-8 , 550774)
df_costco_acquisitions_lm_final['a_interchange',] = random_values.round().astype(int)

random_values = np.random.normal(loc=811557, scale=2456, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-509 ,61042473 )
df_costco_acquisitions_lm_final['goto_bal_revolving',] = random_values.round().astype(int)


random_values = np.random.normal(loc=8955.4, scale=89.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-8 , 550774)
df_costco_acquisitions_lm_final['a_interchange',] = random_values.round().astype(int)


random_values = np.random.normal(loc=811557, scale=2456, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-509 ,61042473 )
df_costco_acquisitions_lm_final['goto_bal_revolving',] = random_values.round().astype(int)


random_values = np.random.normal(loc=1773306.3, scale=87225.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,83024748 )
df_costco_acquisitions_lm_final['tt_card_num',] = random_values.round().astype(int)


random_values = np.random.normal(loc=708.3, scale=27.5, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,32023 )
df_costco_acquisitions_lm_final['tt_card_accts',] = random_values.round().astype(int)

random_values = np.random.normal(loc=114.2, scale=0, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values, 0,7159 )
df_costco_acquisitions_lm_final['cycle_interest_cr_amt',] = random_values.round().astype(int)


random_values = np.random.normal(loc=9497.7, scale=102, size=len(df_costco_acquisitions_lm_final))
random_values = np.clip(random_values,-1, 592170)
df_costco_acquisitions_lm_final['rebate_cost'] = random_values.round().astype(int)



df_costco_acquisitions_lm_final

,per_num,pid_segment,vintage_month,mob,vintage_quarter,channel_info,pay_in_full_tag,final_fico,channel_detail,pera_chnl,...,"(n_cco,)","(a_non_cco,)","(n_non_cco,)","(a_total,)","(n_total,)","(a_interchange,)","(goto_bal_revolving,)","(tt_card_num,)","(tt_card_accts,)","(cycle_interest_cr_amt,)"
0,6454,520,V202210,20,2022 Q3,Warehouse,0,NA,Costco Publications - Phone,Partner Non Digtal,...,1622,399853,6117,548157,7853,8989,811466,1750329,713,114
1,6454,520,V202211,18,2022 Q3,Citi Digital,-1,NA,Purchase Path,Partner Non Digtal,...,1576,401881,6073,565941,7817,8926,816331,1918091,746,114
2,6454,520,V202206,19,2022 Q2,Costco Collateral,0,NA,Purchase Path,Partner Digital,...,1603,404192,6073,557778,7557,9004,815584,1879848,688,114
3,6454,520,V202210,20,2022 Q3,Warehouse,1,NA,Costco.com,External Affiliate,...,1583,399003,6160,555719,7508,8887,809249,1973993,722,114
4,6454,520,V202206,23,2022 Q1,Warehouse,1,NA,App by Phone,Partner Non Digtal,...,1602,408935,6130,555360,7626,9058,813060,1927345,684,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,6454,520,V202204,23,2022 Q4,Warehouse,1,NA,Costco Publications - LPs,Partner Digital,...,1584,407658,6133,546713,7610,9026,809987,1738521,748,114
996,6454,520,V202208,21,2022 Q3,Costco Collateral,-1,NA,Solo Email Placements,Partner Non Digtal,...,1583,397505,6237,551646,7577,8843,810005,1703946,727,114
997,6454,520,V202210,24,2022 Q4,Warehouse,0,NA,Prequal Pre-Approve,Partner Digital,...,1567,404275,6103,557545,7692,8993,813392,1814871,747,114
998,6454,520,V202204,24,2022 Q3,Warehouse,-1,NA,Costco Email Placements,Partner Non Digtal,...,1583,397456,6213,563365,7771,9022,812318,1760494,707,114
999,6454,520,V202210,25,2022 Q2,Costco Digital,0,NA,Citi Branches,Citi Digital,...,1611,403907,6207,556713,7738,8899,813982,1868812,748,114

In [24]:
table_name = 'costco_acquisitions_lm_final_'
df_costco_acquisitions_lm_final.columns = [table_name + str(i) for i in df_costco_acquisitions_lm_final.columns]

df_info = pd.DataFrame(columns=['column_name', 'Data_type'])
df_info['column_name'] = df_costco_acquisitions_lm_final.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_costco_acquisitions_lm_final.iloc[:, i].dtype

df_costco_acquisitions_lm_final.to_csv('df_costco_acquisitions_lm_final.csv', index=False)
df_info.to_csv('df_costco_acquisitions_lm_final_info.csv', index=False)

df_info

                                           column_name Data_type
0                 costco_acquisitions_lm_final_per_num    object
1             costco_acquisitions_lm_final_pid_segment    object
2           costco_acquisitions_lm_final_vintage_month    object
3                     costco_acquisitions_lm_final_mob     int64
4         costco_acquisitions_lm_final_vintage_quarter    object
..                                                 ...       ...
119    costco_acquisitions_lm_final_('a_interchange',)     int64
120  costco_acquisitions_lm_final_('goto_bal_revolv...     int64
121      costco_acquisitions_lm_final_('tt_card_num',)     int64
122    costco_acquisitions_lm_final_('tt_card_accts',)     int64
123  costco_acquisitions_lm_final_('cycle_interest_...     int64

[124 rows x 2 columns]