In [53]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [54]:
pd.set_option('display.float_format', lambda x: '%.02f' % x)

In [89]:
def category_fill(df,cat_column_name,category_list,categories_prob_list):
    df[cat_column_name] = np.random.choice(category_list,df.shape[0],p=categories_prob_list) 
    return df


def sub_category_fill(df,cat_column_name,sub_cat_column_name,sub_categories_prob_dict): 
    df_new = pd.DataFrame()
    for key,value in sub_categories_prob_dict.items():
        df1 = df[df[cat_column_name]==key]
        df1= category_fill(df1,sub_cat_column_name,value[0],value[1])
        df_new = pd.concat([df_new,df1],axis=0)  
    return df_new

In [90]:
df_revenue =pd.DataFrame(columns=['Month1'
                                     ])
df_revenue

Empty DataFrame
Columns: [Month1]
Index: []

In [91]:
df_revenue['Month1'] = ['07/31/2022']*333 + ['08/31/2022']*333 + ['09/31/2022']*333

df_revenue = category_fill(df_revenue,'portfolio',['AAdvantage','Cash','Costco','Mass Cobrand','Rewards','Value'],
                             [0.2,0.2,0.2,0.1,0.1,0.2])

fico_list= ['<660','660-680','680-700','700-760','760+','Missing']

df_revenue['FICO_Segment'] = np.random.choice(fico_list,df_revenue.shape[0],p=[0.18,0.12,0.12,0.22,0.24,0.12])

df_revenue = category_fill(df_revenue,'mob_bucket',['Mob: 01-12','Mob: 13-24','Mob: 25-36','Mob: 37-48','Mob: 49-60','Mob: 60+'],
                                  [0.1,0.2,0.2,0.2,0.1,0.2])


df_revenue = category_fill(df_revenue,'Wallet_Segment',['High Wallet','Low Wallet','Missing','Medium Wallet'],
                                  [0.26,0.26,0.25,0.23])

df_revenue = category_fill(df_revenue,'Trans_revlv_Segment',['Missing','Revolver','Transactor'],
                                  [0.15,0.45,0.4])

df_revenue = category_fill(df_revenue,'Trans_revlv_Segment',['Missing','Revolver','Transactor'],
                                  [0.15,0.45,0.4])

df_revenue = category_fill(df_revenue,'BTA_ind',['InBTA','OutBTA'],
                                  [0.52,0.48])

df_revenue = category_fill(df_revenue,'MRC_ind',['MRC','Non-MRC'],
                                  [0.46,0.54])

df_revenue = category_fill(df_revenue,'digital_actv',['Active','Inactive'],
                                  [0.52,0.48])

df_revenue['SALES_ACTV_IND'] = [int(i) for i in np.random.uniform(0,220992,df_revenue.shape[0])]

df_revenue['BILL_ACTV_IND'] = [int(i) for i in np.random.uniform(0,241087,df_revenue.shape[0])]

df_revenue['revolv_ind'] = [int(i) for i in np.random.uniform(0,75025,df_revenue.shape[0])]

df_revenue['open_ind'] = [int(i) for i in np.random.uniform(0,298507,df_revenue.shape[0])]

df_revenue['late_fees']= np.random.uniform(- 347,137852,df_revenue.shape[0])

df_revenue['bad_chk_fee']= np.random.uniform(-40,27216,df_revenue.shape[0])

df_revenue['ocl_fee']= np.random.uniform(0,0,df_revenue.shape[0])

df_revenue['Risk_fees']= df_revenue.apply(lambda x: x['late_fees']+x['bad_chk_fee']+x['ocl_fee'],axis=1)

df_revenue['forex_fee_amt']= np.random.uniform(0,155605,df_revenue.shape[0])

df_revenue['crd_prot_fee']= np.random.uniform(0,312037,df_revenue.shape[0])

df_revenue['Annual_fees']= np.random.uniform(-207824,1851889,df_revenue.shape[0])

df_revenue['cash_advance_fess']= np.random.uniform(0,510517,df_revenue.shape[0])

df_revenue['balcon_fees']= np.random.uniform(-50,499433,df_revenue.shape[0])

df_revenue['Non_Risk_fees']= df_revenue.apply(lambda x: x['forex_fee_amt']+x['balcon_fees']+x['cash_advance_fess']+x['Annual_fees']+x['crd_prot_fee'],axis=1)

df_revenue['other_fees']= np.random.uniform(0,155605,df_revenue.shape[0])

df_revenue['interest_wo']= np.random.uniform(0,819489,df_revenue.shape[0])

df_revenue['interest']= np.random.uniform(0,7868904,df_revenue.shape[0])

df_revenue['interest_old']= np.random.uniform(0,7868904,df_revenue.shape[0])
df_revenue['interest_refunded']= np.random.uniform(0,297365,df_revenue.shape[0])

df_revenue['net_interest']= df_revenue.apply(lambda x: x['interest']-x['interest_wo']-x['interest_refunded'],axis=1)

df_revenue['cof']= np.random.uniform(-514,1698892,df_revenue.shape[0])

df_revenue['NIM']= np.random.uniform(-180710,6111141,df_revenue.shape[0])

df_revenue['interchange']= np.random.uniform(0,10503932,df_revenue.shape[0])

df_revenue['affinity_rebate']= np.random.uniform(-514,1698892,df_revenue.shape[0])

df_revenue['Total_fees']= np.random.uniform(-7500,2474851,df_revenue.shape[0])

df_revenue['Revenue']= np.random.uniform(-217757,8312447,df_revenue.shape[0])

df_revenue['NCL']= np.random.uniform(0,4942681,df_revenue.shape[0])

df_revenue['NCM']= df_revenue.apply(lambda x: x['Revenue']-x['NCL'],axis=1)

df_revenue['Total_sales']= np.random.uniform(0,518492519,df_revenue.shape[0])

df_revenue['Balcon_sales']= np.random.uniform(0,16587791,df_revenue.shape[0])

df_revenue['ANR']= np.random.uniform(-166,925484886,df_revenue.shape[0])

df_revenue['ENR']= np.random.uniform(-266,931474687,df_revenue.shape[0])

df_revenue['Purchase_Sales']= np.random.uniform(0,500883588,df_revenue.shape[0])

df_revenue['sales_gross']= df_revenue.apply(lambda x: x['Purchase_Sales']*1.01,axis=1)

df_revenue['sales_return']= np.random.uniform(0,16820510,df_revenue.shape[0])

df_revenue['sales_net']= df_revenue.apply(lambda x: x['sales_gross']-x['sales_return'],axis=1)

df_revenue['sales_gross_ct']= [int(i) for i in np.random.uniform(0,5234573,df_revenue.shape[0])]

df_revenue['sales_return_Ct']= [int(i) for i in np.random.uniform(0,148461,df_revenue.shape[0])]

df_revenue['sales_net_Ct']= [int(i) for i in df_revenue.apply(lambda x: x['sales_gross_ct']-x['sales_return_Ct'],axis=1)]

df_revenue['online_amt']= df_revenue.apply(lambda x: x['sales_gross']*0.33,axis=1)

df_revenue['online_cnt']= [int(i) for i in df_revenue.apply(lambda x: x['sales_gross_ct']*0.33,axis=1)]

df_revenue['DIG_TRANS_AMT']= df_revenue.apply(lambda x: x['online_amt']*1.03,axis=1)

df_revenue['DIG_TANS_CT']= [int(i) for i in df_revenue.apply(lambda x: x['online_cnt']*1.03,axis=1)]

df_revenue['interchange_gross']= df_revenue.apply(lambda x: x['DIG_TRANS_AMT']*0.05,axis=1)

df_revenue['interchange_return']= df_revenue.apply(lambda x: x['interchange_gross']*0.05,axis=1)

df_revenue['interchange_net']= df_revenue.apply(lambda x: x['interchange_gross']-x['interchange_return'],axis=1)

df_revenue['interchange_online_net']= df_revenue.apply(lambda x: x['online_amt']*0.05*0.95,axis=1)

df_revenue['interchange_digital_net']= df_revenue.apply(lambda x: x['DIG_TRANS_AMT']*0.05*0.95,axis=1)

df_revenue['Promo_balance']= 0

df_revenue['Goto_balance']= df_revenue.apply(lambda x: x['ENR']-x['Promo_balance'],axis=1)

df_revenue['ct1']= np.random.uniform(1,925864,df_revenue.shape[0])

df_revenue

,Month1,portfolio,FICO_Segment,mob_bucket,Wallet_Segment,Trans_revlv_Segment,BTA_ind,MRC_ind,digital_actv,SALES_ACTV_IND,...,DIG_TRANS_AMT,DIG_TANS_CT,interchange_gross,interchange_return,interchange_net,interchange_online_net,interchange_digital_net,Promo_balance,Goto_balance,ct1
0,07/31/2022,Value,680-700,Mob: 49-60,High Wallet,Missing,OutBTA,Non-MRC,Active,88893,...,62843148.80,1290020,3142157.44,157107.87,2985049.57,2898106.38,2985049.57,0,628560077.92,568101.67
1,07/31/2022,Costco,680-700,Mob: 37-48,Missing,Transactor,InBTA,Non-MRC,Inactive,37645,...,36117385.58,1716144,1805869.28,90293.46,1715575.82,1665607.59,1715575.82,0,252891024.60,622389.06
2,07/31/2022,Value,760+,Mob: 13-24,Medium Wallet,Revolver,OutBTA,Non-MRC,Inactive,71882,...,92226435.76,1117352,4611321.79,230566.09,4380755.70,4253160.87,4380755.70,0,836429819.06,717654.15
3,07/31/2022,Rewards,680-700,Mob: 60+,Missing,Revolver,InBTA,MRC,Inactive,92102,...,142133297.66,1543797,7106664.88,355333.24,6751331.64,6554690.91,6751331.64,0,911854232.81,82756.23
4,07/31/2022,Costco,680-700,Mob: 37-48,Medium Wallet,Revolver,OutBTA,Non-MRC,Inactive,82268,...,30455625.52,986940,1522781.28,76139.06,1446642.21,1404507.00,1446642.21,0,520101248.47,683546.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,09/31/2022,Value,<660,Mob: 60+,High Wallet,Transactor,InBTA,Non-MRC,Inactive,40851,...,77552821.51,303256,3877641.08,193882.05,3683759.02,3576465.07,3683759.02,0,633742353.73,305867.49
995,09/31/2022,Costco,680-700,Mob: 49-60,High Wallet,Revolver,InBTA,Non-MRC,Active,51422,...,65180195.99,948001,3259009.80,162950.49,3096059.31,3005882.82,3096059.31,0,774758487.95,857303.96
996,09/31/2022,AAdvantage,660-680,Mob: 37-48,High Wallet,Revolver,InBTA,Non-MRC,Active,192639,...,107990040.43,581542,5399502.02,269975.10,5129526.92,4980123.22,5129526.92,0,546816427.77,111561.15
997,09/31/2022,Rewards,<660,Mob: 37-48,Medium Wallet,Missing,OutBTA,MRC,Active,202843,...,169576174.52,1627576,8478808.73,423940.44,8054868.29,7820260.48,8054868.29,0,138742123.44,118610.65
998,09/31/2022,Value,Missing,Mob: 13-24,High Wallet,Transactor,OutBTA,Non-MRC,Active,60222,...,84240132.11,1015811,4212006.61,210600.33,4001406.28,3884860.46,4001406.28,0,369377282.10,150078.04

In [92]:
df_revenue

,Month1,portfolio,FICO_Segment,mob_bucket,Wallet_Segment,Trans_revlv_Segment,BTA_ind,MRC_ind,digital_actv,SALES_ACTV_IND,...,DIG_TRANS_AMT,DIG_TANS_CT,interchange_gross,interchange_return,interchange_net,interchange_online_net,interchange_digital_net,Promo_balance,Goto_balance,ct1
0,07/31/2022,Value,680-700,Mob: 49-60,High Wallet,Missing,OutBTA,Non-MRC,Active,88893,...,62843148.80,1290020,3142157.44,157107.87,2985049.57,2898106.38,2985049.57,0,628560077.92,568101.67
1,07/31/2022,Costco,680-700,Mob: 37-48,Missing,Transactor,InBTA,Non-MRC,Inactive,37645,...,36117385.58,1716144,1805869.28,90293.46,1715575.82,1665607.59,1715575.82,0,252891024.60,622389.06
2,07/31/2022,Value,760+,Mob: 13-24,Medium Wallet,Revolver,OutBTA,Non-MRC,Inactive,71882,...,92226435.76,1117352,4611321.79,230566.09,4380755.70,4253160.87,4380755.70,0,836429819.06,717654.15
3,07/31/2022,Rewards,680-700,Mob: 60+,Missing,Revolver,InBTA,MRC,Inactive,92102,...,142133297.66,1543797,7106664.88,355333.24,6751331.64,6554690.91,6751331.64,0,911854232.81,82756.23
4,07/31/2022,Costco,680-700,Mob: 37-48,Medium Wallet,Revolver,OutBTA,Non-MRC,Inactive,82268,...,30455625.52,986940,1522781.28,76139.06,1446642.21,1404507.00,1446642.21,0,520101248.47,683546.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,09/31/2022,Value,<660,Mob: 60+,High Wallet,Transactor,InBTA,Non-MRC,Inactive,40851,...,77552821.51,303256,3877641.08,193882.05,3683759.02,3576465.07,3683759.02,0,633742353.73,305867.49
995,09/31/2022,Costco,680-700,Mob: 49-60,High Wallet,Revolver,InBTA,Non-MRC,Active,51422,...,65180195.99,948001,3259009.80,162950.49,3096059.31,3005882.82,3096059.31,0,774758487.95,857303.96
996,09/31/2022,AAdvantage,660-680,Mob: 37-48,High Wallet,Revolver,InBTA,Non-MRC,Active,192639,...,107990040.43,581542,5399502.02,269975.10,5129526.92,4980123.22,5129526.92,0,546816427.77,111561.15
997,09/31/2022,Rewards,<660,Mob: 37-48,Medium Wallet,Missing,OutBTA,MRC,Active,202843,...,169576174.52,1627576,8478808.73,423940.44,8054868.29,7820260.48,8054868.29,0,138742123.44,118610.65
998,09/31/2022,Value,Missing,Mob: 13-24,High Wallet,Transactor,OutBTA,Non-MRC,Active,60222,...,84240132.11,1015811,4212006.61,210600.33,4001406.28,3884860.46,4001406.28,0,369377282.10,150078.04

In [79]:
table_name= 'DRIVERS_REV_CARDS_'
df_revenue.columns = [table_name+i for i in df_revenue.columns]

df_info = pd.DataFrame(columns=['column_name','Data_type'])
df_info['column_name'] = df_revenue.columns.tolist()
for i in range(df_info.shape[0]):
    df_info['Data_type'][i] = df_revenue[df_info['column_name'][i]].dtype
    

df_revenue.to_csv('Drivers_Rev_cards.csv', index=False)
df_info.to_csv('Drivers_Rev_cards_data_types.csv', index=False)